In [391]:
import pandas as pd

In [392]:
resume_data = pd.read_csv("data\\Resume_data_second\\resume_data.csv")

In [393]:
resume_data.head(5)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [394]:
resume_data.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='object')

In [395]:
for i in resume_data.columns:
  print( i , " is ", resume_data[i][0])

address  is  nan
career_objective  is  Big data analytics working and database warehouse manager with robust experience in handling all kinds of data. I have also used multiple cloud infrastructure services and am well acquainted with them. Currently in search of role that offers more of development.
skills  is  ['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapreduce', 'Spark', 'Java', 'Machine Learning', 'Cloud', 'Hdfs', 'YARN', 'Core Java', 'Data Science', 'C++', 'Data Structures', 'DBMS', 'RDBMS', 'Informatica', 'Talend', 'Amazon Redshift', 'Microsoft Azure']
educational_institution_name  is  ['The Amity School of Engineering & Technology (ASET), Noida']
degree_names  is  ['B.Tech']
passing_years  is  ['2019']
educational_results  is  ['N/A']
result_types  is  [None]
major_field_of_studies  is  ['Electronics']
professional_company_names  is  ['Coca-COla']
company_urls  is  [None]
start_dates  is  ['Nov 2019']
end_dates  is  ['Till Date']
related_skils_in_job  is  [['Big Data']]
positions  is  ['Big Data Analyst']
locations  is  ['N/A']
responsibilities  is  Technical Support
Troubleshooting
Collaboration
Documentation
System Monitoring
Software Deployment
Training & Mentorship
Industry Trends
Field Visits





extra_curricular_activity_types  is  nan
extra_curricular_organization_names  is  nan
extra_curricular_organization_links  is  nan
role_positions  is  nan
languages  is  nan
proficiency_levels  is  nan
certification_providers  is  nan
certification_skills  is  nan
online_links  is  nan
issue_dates  is  nan
expiry_dates  is  nan
﻿job_position_name  is  Senior Software Engineer
educationaL_requirements  is  B.Sc in Computer Science & Engineering from a reputed university.
experiencere_requirement  is  At least 1 year
age_requirement  is  nan
responsibilities.1  is  Technical Support
Troubleshooting
Collaboration
Documentation
System Monitoring
Software Deployment
Training & Mentorship
Industry Trends
Field Visits





skills_required  is  nan
matched_score  is  0.85

In [396]:
print(resume_data.shape)

(9544, 35)

In [397]:
resume_data = resume_data.drop(columns=['passing_years','professional_company_names', 'company_urls',
       'locations','certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'])

In [398]:
print(resume_data.shape)
resume_data.head(1)

(9544, 20)

,address,career_objective,skills,educational_institution_name,degree_names,educational_results,result_types,major_field_of_studies,start_dates,end_dates,related_skils_in_job,positions,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,extra_curricular_organization_links,role_positions,languages,proficiency_levels,certification_providers
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['N/A'],[None],['Electronics'],['Nov 2019'],['Till Date'],[['Big Data']],['Big Data Analyst'],Technical Support\nTroubleshooting\nCollaborat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [399]:
resume_data = resume_data.drop_duplicates()
print(resume_data.shape)
resume_data.head(4)

(9544, 20)

,address,career_objective,skills,educational_institution_name,degree_names,educational_results,result_types,major_field_of_studies,start_dates,end_dates,related_skils_in_job,positions,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,extra_curricular_organization_links,role_positions,languages,proficiency_levels,certification_providers
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['N/A'],[None],['Electronics'],['Nov 2019'],['Till Date'],[['Big Data']],['Big Data Analyst'],Technical Support\nTroubleshooting\nCollaborat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['Sep 2019'],['Till Date'],"[['Data Analysis', 'Business Analysis', 'Machi...",['Business Analyst'],Machine Learning Leadership\nCross-Functional ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['N/A'],['N/A'],['Electronics/Telecommunication'],['June 2018'],['Till Date'],"[['Unified Payment Interface', 'Risk Predictio...",['Software Developer (Machine Learning Enginee...,"Trade Marketing Executive\nBrand Visibility, S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,[None],[None],['Computer Applications'],"['January 2011', 'January 2008', 'January 2006...","['November 2015', 'January 2010', 'January 200...","[['accounts receivables', 'banking', 'G/L Acco...","['Accountant', 'Accounts Receivable Clerk', 'M...",Apparel Sourcing\nQuality Garment Sourcing\nRe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [400]:
"""
i want to reach to new Colmns:-
  1- skill 
  2- location 
  3- qualification 
  4- experience year 
  5- work history 
  - so in first column i will merge columns in my Data ( skills , related_skills_in_job , language , proficiency_levels)
  - second column location i will take it from address column in my data 
  - third columnd qualification i will take it from (carrer objective, education_instuation_name, degree_name, major_field_of_studies )
  - fourth column Experience year i will take from ['start_dates', 'end_dates'] subtract together 
  - fifth column work_history i will take from columns ( position , Rule_position , responsibilities )
"""

"\ni want to reach to new Colmns:-\n  1- skill \n  2- location \n  3- qualification \n  4- experience year \n  5- work history \n  - so in first column i will merge columns in my Data ( skills , related_skills_in_job , language , proficiency_levels)\n  - second column location i will take it from address column in my data \n  - third columnd qualification i will take it from (carrer objective, education_instuation_name, degree_name, major_field_of_studies )\n  - fourth column Experience year i will take from ['start_dates', 'end_dates'] subtract together \n  - fifth column work_history i will take from columns ( position , Rule_position , responsibilities )\n"

#### First convert ( skills , related_skills_in_job , language , proficiency_levels) to skills column

In [401]:
print(resume_data.skills)
print(resume_data.related_skils_in_job)

0       ['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...
1       ['Data Analysis', 'Data Analytics', 'Business ...
2       ['Software Development', 'Machine Learning', '...
3       ['accounts payables', 'accounts receivables', ...
4       ['Analytical reasoning', 'Compliance testing k...
                              ...
9539    ['Mathematical modelling', 'Machine Learning',...
9540    ['Data Analysis', 'Business Analysis', 'Machin...
9541    ['Business Analyst', 'Data Analytics', 'Data C...
9542    ['Machine Learning', 'Natural Language Process...
9543    ['assisted living', 'interpersonal and communi...
Name: skills, Length: 9544, dtype: object
0                                          [['Big Data']]
1       [['Data Analysis', 'Business Analysis', 'Machi...
2       [['Unified Payment Interface', 'Risk Predictio...
3       [['accounts receivables', 'banking', 'G/L Acco...
4       [['collections', 'accounts receivable', 'finan...
                              ...
9539    [['Data Sampling', 'Management of Agricultural...
9540          [['EDA', 'Data Cleaning', 'Data Modeling']]
9541                               [['Machine Learning']]
9542       [['NLP', 'Machine Learning', 'Text Analysis']]
9543    [['building referral relationships', 'manageme...
Name: related_skils_in_job, Length: 9544, dtype: object

#### skills and related_silss_in_job implementation
Implementation Steps

1-Convert skills and related_skils_in_job from string format to Python lists.

2-Flatten related_skils_in_job to remove extra nesting ([['skill1', 'skill2']] → ['skill1', 'skill2']).

3-Merge the cleaned lists into a single column skills.

4-Remove duplicates within each row.

5-Ensure NaN values are handled properly.

In [402]:
import ast

# Function to safely convert stringified lists to actual lists
def safe_list_conversion(val):
    if isinstance(val, str):
        return ast.literal_eval(val)  # Convert string to list
    elif isinstance(val, list):
        return val  # Already a list
    return []  # Return empty list if NaN or other types

# Apply conversion to both columns
resume_data["skills"] = resume_data["skills"].apply(safe_list_conversion)
resume_data["related_skils_in_job"] = resume_data["related_skils_in_job"].apply(safe_list_conversion)
print(resume_data.skills)
print(resume_data.related_skils_in_job)

0       [Big Data, Hadoop, Hive, Python, Mapreduce, Sp...
1       [Data Analysis, Data Analytics, Business Analy...
2       [Software Development, Machine Learning, Deep ...
3       [accounts payables, accounts receivables, Acco...
4       [Analytical reasoning, Compliance testing know...
                              ...
9539    [Mathematical modelling, Machine Learning, Pre...
9540    [Data Analysis, Business Analysis, Machine Lea...
9541    [Business Analyst, Data Analytics, Data Cleans...
9542    [Machine Learning, Natural Language Processing...
9543    [assisted living, interpersonal and communicat...
Name: skills, Length: 9544, dtype: object
0                                            [[Big Data]]
1       [[Data Analysis, Business Analysis, Machine Le...
2       [[Unified Payment Interface, Risk Prediction, ...
3       [[accounts receivables, banking, G/L Accounts,...
4       [[collections, accounts receivable, financial ...
                              ...
9539    [[Data Sampling, Management of Agricultural Pr...
9540                [[EDA, Data Cleaning, Data Modeling]]
9541                                 [[Machine Learning]]
9542             [[NLP, Machine Learning, Text Analysis]]
9543    [[building referral relationships, management,...
Name: related_skils_in_job, Length: 9544, dtype: object

In [403]:
# Flatten nested lists in related_skils_in_job
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        if isinstance(sublist, list):  # Check if it's a list inside list
            flat_list.extend(sublist)  # Flatten
        else:
            flat_list.append(sublist)  # Single element case
    return flat_list

resume_data["related_skils_in_job"] = resume_data["related_skils_in_job"].apply(flatten_list)
print(resume_data.related_skils_in_job)

0                                              [Big Data]
1       [Data Analysis, Business Analysis, Machine Lea...
2       [Unified Payment Interface, Risk Prediction, B...
3       [accounts receivables, banking, G/L Accounts, ...
4       [collections, accounts receivable, financial r...
                              ...
9539    [Data Sampling, Management of Agricultural Pro...
9540                  [EDA, Data Cleaning, Data Modeling]
9541                                   [Machine Learning]
9542               [NLP, Machine Learning, Text Analysis]
9543    [building referral relationships, management, ...
Name: related_skils_in_job, Length: 9544, dtype: object

In [404]:
# Merge both columns
resume_data["skills"] = resume_data.apply(lambda row: list(set(row["skills"] + row["related_skils_in_job"])), axis=1)

# Drop old related_skils_in_job column if no longer needed
resume_data.drop(columns=["related_skils_in_job"], inplace=True)

# Show cleaned data
print(resume_data["skills"][0])

['Hdfs', 'Core Java', 'Hive', 'Talend', 'YARN', 'Microsoft Azure', 'Java', 'Hadoop', 'Data Structures', 'Machine Learning', 'Cloud', 'Amazon Redshift', 'RDBMS', 'Python', 'Informatica', 'Data Science', 'C++', 'Spark', 'Mapreduce', 'DBMS', 'Big Data']

In [405]:
print(resume_data.languages.value_counts())
print(resume_data.proficiency_levels.value_counts())

languages
['English', 'Spanish']                         168
['Spanish']                                     84
['English', 'French']                           28
['Portuguese']                                  28
['English', 'Marathi', 'Hindi', 'Gujarati']     28
['English', 'Urdu', 'German']                   28
['English', 'French', 'Spanish']                28
['English', 'Arabic', 'Swedish']                28
['Arabic', 'English']                           28
['English', 'Chinese Mandarin']                 28
['English', 'Mandarin', 'Cantonese']            28
['English', 'Swahili', 'Kalenjin']              28
['English', 'French', 'Italian', 'Greek']       28
['Spanish', 'English', 'Portuguese']            28
['Japanese', 'English']                         28
['Polish']                                      28
['English', 'Hebrew']                           28
['English', 'Hindi', 'Malayalam']               28
Name: count, dtype: int64
proficiency_levels
['Fluent', 'Fluent', 'Fluent']                                                        84
['Bilingual', 'Bilingual']                                                            56
['N/A']                                                                               28
['Native Speaker', None, None]                                                        28
['N/A', 'N/A', 'N/A']                                                                 28
['Fluent; speak, read, and write']                                                    28
['Fluent - Full Knowledge', 'Knowledge, but taking classes to become more fluent']    28
['N/A', 'N/A']                                                                        28
['fluent']                                                                            28
['N/A', 'N/A', 'N/A', 'N/A']                                                          28
['Fluent', 'Fluent', 'GCSE level']                                                    28
['Advanced', 'Fluent']                                                                28
['mother tongue', 'Good in both written and spoken']                                  28
['Native Speaker', 'Native Speaker']                                                  28
['Fluent', 'Fluent', 'Fluent', 'Fluent']                                              28
['Bilingual', 'Bilingual', 'Fluent reading/writing']                                  28
['Fluent']                                                                            28
['Native', 'Professional working proficiency']                                        28
['Proficient']                                                                        28
['Fluent', 'Native']                                                                  28
['Fluent', 'Decreased proficiency due to moderate use']                               28
['Bi-lingual', 'Bi-lingual']                                                          28
Name: count, dtype: int64

### languages

In [406]:
print(resume_data.languages)
print(resume_data.proficiency_levels)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
9539    NaN
9540    NaN
9541    NaN
9542    NaN
9543    NaN
Name: languages, Length: 9544, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
9539    NaN
9540    NaN
9541    NaN
9542    NaN
9543    NaN
Name: proficiency_levels, Length: 9544, dtype: object

#### make language and proficiency_levels
Implementation Plan

Convert both columns from string format to lists.

Standardize proficiency levels (e.g., "Fluent - Full Knowledge" → "Fluent").

Pair each language with its corresponding proficiency level (if available).

Create a final merged languages column in the format:

  "English (Fluent), Spanish (Intermediate)"
  
  "Arabic (Native), French (Basic)"

In [407]:
# Function to safely convert stringified lists to actual lists
def safe_list_conversion(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)  # Convert string to list
        except:
            return []  # Handle invalid formats
    elif isinstance(val, list):
        return val  # Already a list
    return []  # Return empty list if NaN or other types

# Convert columns
resume_data["languages"] = resume_data["languages"].apply(safe_list_conversion)
resume_data["proficiency_levels"] = resume_data["proficiency_levels"].apply(safe_list_conversion)
print(resume_data["languages"].value_counts())
print(resume_data["proficiency_levels"].value_counts())

languages
[]                                     8844
[English, Spanish]                      168
[Spanish]                                84
[Arabic, English]                        28
[English, French]                        28
[Portuguese]                             28
[English, Marathi, Hindi, Gujarati]      28
[English, Urdu, German]                  28
[English, French, Spanish]               28
[English, Arabic, Swedish]               28
[English, Mandarin, Cantonese]           28
[English, Chinese Mandarin]              28
[English, Swahili, Kalenjin]             28
[English, French, Italian, Greek]        28
[Spanish, English, Portuguese]           28
[Japanese, English]                      28
[Polish]                                 28
[English, Hebrew]                        28
[English, Hindi, Malayalam]              28
Name: count, dtype: int64
proficiency_levels
[]                                                                                8844
[Fluent, Fluent, Fluent]                                                            84
[Bilingual, Bilingual]                                                              56
[Fluent, Decreased proficiency due to moderate use]                                 28
[Fluent, Native]                                                                    28
[N/A, N/A, N/A]                                                                     28
[Fluent; speak, read, and write]                                                    28
[Fluent - Full Knowledge, Knowledge, but taking classes to become more fluent]      28
[N/A, N/A]                                                                          28
[fluent]                                                                            28
[N/A, N/A, N/A, N/A]                                                                28
[Fluent, Fluent, GCSE level]                                                        28
[Advanced, Fluent]                                                                  28
[Native Speaker, None, None]                                                        28
[mother tongue, Good in both written and spoken]                                    28
[N/A]                                                                               28
[Native Speaker, Native Speaker]                                                    28
[Fluent, Fluent, Fluent, Fluent]                                                    28
[Bilingual, Bilingual, Fluent reading/writing]                                      28
[Fluent]                                                                            28
[Native, Professional working proficiency]                                          28
[Proficient]                                                                        28
[Bi-lingual, Bi-lingual]                                                            28
Name: count, dtype: int64

In [408]:
# Standardize proficiency levels
def clean_proficiency(proficiency_list):
    mapping = {
        "Fluent - Full Knowledge": "Fluent",
        "Fluent; speak, read, and write": "Fluent",
        "Fluent": "Fluent",
        "fluent": "Fluent",
        "Bi-lingual": "Bilingual",
        "Bilingual": "Bilingual",
        "mother tongue": "Native",
        "Native Speaker": "Native",
        "Native": "Native",
        "Professional working proficiency": "Professional",
        "Decreased proficiency due to moderate use": "Limited",
        "Knowledge, but taking classes to become more fluent": "Basic",
        "Fluent reading/writing": "Intermediate",
        "GCSE level": "Basic",
        "Good in both written and spoken": "Intermediate",
        "N/A": None,
        None: None
    }
    return [mapping.get(level, level) for level in proficiency_list if mapping.get(level, level) is not None]

resume_data["proficiency_levels"] = resume_data["proficiency_levels"].apply(clean_proficiency)
print(resume_data["proficiency_levels"].value_counts())

proficiency_levels
[]                                      8956
[Fluent]                                  84
[Fluent, Fluent, Fluent]                  84
[Bilingual, Bilingual]                    84
[Native, Native]                          28
[Fluent, Limited]                         28
[Fluent, Native]                          28
[Proficient]                              28
[Native, Professional]                    28
[Bilingual, Bilingual, Intermediate]      28
[Fluent, Fluent, Fluent, Fluent]          28
[Native, Intermediate]                    28
[Native]                                  28
[Advanced, Fluent]                        28
[Fluent, Fluent, Basic]                   28
[Fluent, Basic]                           28
Name: count, dtype: int64

In [409]:
# Merge languages with their proficiency levels
def merge_languages_proficiency(langs, profs):
    merged = []
    for i in range(len(langs)):
        level = profs[i] if i < len(profs) else "Unknown"  # Assign "Unknown" if missing
        merged.append(f"{langs[i]} ({level})")
    return ", ".join(merged)

resume_data["languages"] = resume_data.apply(lambda row: merge_languages_proficiency(row["languages"], row["proficiency_levels"]), axis=1)

# Drop old proficiency_levels column if no longer needed
resume_data.drop(columns=["proficiency_levels"], inplace=True)

# Show cleaned data
print(resume_data["languages"].head())

0
1
2
3
4
Name: languages, dtype: object

In [410]:
resume_data.languages.value_counts()

languages
                                                                             8844
Spanish (Fluent)                                                               56
English (Bilingual), Spanish (Bilingual)                                       56
English (Fluent), Spanish (Limited)                                            28
English (Fluent), Arabic (Fluent), Swedish (Fluent)                            28
English (Unknown), Hindi (Unknown), Malayalam (Unknown)                        28
English (Fluent), Spanish (Basic)                                              28
English (Unknown), French (Unknown)                                            28
Portuguese (Fluent)                                                            28
English (Unknown), Marathi (Unknown), Hindi (Unknown), Gujarati (Unknown)      28
English (Fluent), Urdu (Fluent), German (Basic)                                28
English (Advanced), Spanish (Fluent)                                           28
English (Native), French (Unknown), Spanish (Unknown)                          28
Arabic (Native), English (Intermediate)                                        28
English (Fluent), Hebrew (Native)                                              28
Spanish (Unknown)                                                              28
English (Fluent), Mandarin (Fluent), Cantonese (Fluent)                        28
English (Fluent), Swahili (Fluent), Kalenjin (Fluent)                          28
English (Fluent), French (Fluent), Italian (Fluent), Greek (Fluent)            28
Spanish (Bilingual), English (Bilingual), Portuguese (Intermediate)            28
English (Native), Spanish (Native)                                             28
Japanese (Native), English (Professional)                                      28
Polish (Proficient)                                                            28
English (Bilingual), Chinese Mandarin (Bilingual)                              28
Name: count, dtype: int64

In [411]:
resume_data.shape

(9544, 18)

## location

In [412]:
resume_data.address.value_counts()

address
Sunnyvale, CA                                                                                                     28
Trenton, NJ                                                                                                       28
Malvern, PA                                                                                                       28
Department of Computer Science, University of British Columbia, 2366 Main Mall, Vancouver, BC, V6T 1Z4, Canada    28
Hoboken, NJ                                                                                                       28
Hanover, NH                                                                                                       28
Denver, CO                                                                                                        28
Pittsburgh, PA                                                                                                    28
Chicago, IL                                                                                                       28
Street name, City, YO1 5DD                                                                                        28
321 Sesame Street, Boca Raton, FL 33829                                                                           28
Virginia Beach, VA                                                                                                28
2383 Suwanee Pointe Drive, Lawrenceville, GA 30043                                                                28
1255 University of Utah Circle, Las Vegas, NV 84112                                                               28
P.O BOX 2200 ELDORET                                                                                              28
Westlake, TX                                                                                                      28
160 Bleecker Street, Apartment 4DW New York, NY 10012                                                             28
Computer Science Department University of Kentucky Lexington, KY 40506-0046                                       28
Vancouver, BC                                                                                                     28
Euclid, OH                                                                                                        28
1234 Thundar Lane S, Fargo, ND 58102                                                                              28
Greer, SC                                                                                                         28
Cambridge, MA                                                                                                     28
Portland, OR                                                                                                      28
139 Alder Drive, Mississaugua, Ontario, L5N 6P1                                                                   28
City, State Zip Code                                                                                              28
10 King's College Road, Rm. 3302 Toronto, Ontario, M5S 3G4 Canada                                                 28
Address, City, Province, Country                                                                                  28
Name: count, dtype: int64

Extract City and State/Country:

If the address contains City, State (e.g., Chicago, IL) → Keep it as is.

If the address contains a full address (e.g., 2383 Suwanee Pointe Drive, Lawrenceville, GA 30043) → Extract City and State.

If the address contains a university department address (e.g., Department of Computer Science, University of British Columbia, Vancouver, BC, Canada) → Extract City and Country.

If the address contains a P.O. Box or generic placeholder (e.g., P.O BOX 2200 ELDORET) → Extract the city (Eldoret in this case).


If the address is ambiguous (e.g., Address, City, Province, Country) → Drop or infer from another column if possible.


Normalize formats:

Ensure consistency between state abbreviations and full names.

Convert country names to ISO country codes if needed.

Handle missing or generic values:

If an address is missing or too vague, try filling it from another column (e.g., education history or company name).

In [413]:
import re
import pandas as pd

def extract_location(address):
    """Extracts city, state, or country from a given address."""
    if pd.isna(address) or 'Address' in address or 'City' in address:
        return None  # Skip generic placeholders

    # Regex for extracting City, State format (e.g., 'Chicago, IL' or 'Vancouver, BC')
    city_state_pattern = r'([A-Za-z\s]+),\s?([A-Z]{2})\b'
    match = re.search(city_state_pattern, address)
    if match:
        return f"{match.group(1).strip()}, {match.group(2).strip()}"

    # Extract full country name if present at the end
    country_pattern = r'([A-Za-z\s]+),\s?([A-Za-z\s]+),\s?([A-Za-z]+)$'
    country_match = re.search(country_pattern, address)
    if country_match:
        return f"{country_match.group(2).strip()}, {country_match.group(3).strip()}"

    # Extract just city if no state/country is found
    city_only_pattern = r'([A-Za-z\s]+)\s?\d*$'
    city_match = re.search(city_only_pattern, address)
    if city_match:
        return city_match.group(1).strip()

    return None  # Default case if no match

# Apply cleaning function to the dataset
resume_data['location'] = resume_data['address'].apply(extract_location)
resume_data.drop(columns=['address'])

# Display the first few cleaned locations
print(resume_data[['location']].value_counts())

location
Vancouver, BC                                                       56
Boca Raton, FL                                                      28
Cambridge, MA                                                       28
Virginia Beach, VA                                                  28
Trenton, NJ                                                         28
Sunnyvale, CA                                                       28
Portland, OR                                                        28
Pittsburgh, PA                                                      28
P                                                                   28
Malvern, PA                                                         28
Lawrenceville, GA                                                   28
Las Vegas, NV                                                       28
Hoboken, NJ                                                         28
Hanover, NH                                                         28
Greer, SC                                                           28
Fargo, ND                                                           28
Euclid, OH                                                          28
ELDORET                                                             28
Denver, CO                                                          28
DW New York, NY                                                     28
Computer Science Department University of Kentucky Lexington, KY    28
Chicago, IL                                                         28
Canada                                                              28
Westlake, TX                                                        28
Name: count, dtype: int64

### QUalification column from --> (carrer_objective , education_instiuation_name , degree_name, major_field_of_studies)

In [414]:
print(resume_data.career_objective.value_counts())

career_objective
Big data analytics working and database warehouse manager with robust experience in handling all kinds of data. I have also used multiple cloud infrastructure services and am well acquainted with them. Currently in search of role that offers more of development.                                                               28
To utilize my customer relations and management background to obtain a position with a company that places importance on efficiency and success. Employ natural leadership and interpersonal skills to build relationships throughout the organization.                                                                              28
Fresher python developer interested in data analytics and machine learning.                                                                                                                                                                                                                                                          28
Skilled Machine Learning and Deep Learning practitioner, and I have worked on Computer vision-based projects. On the lookout for opportunities that help me understand more about the domain.                                                                                                                                        28
Looking for roles related to application development in Machine Learning.                                                                                                                                                                                                                                                            28
                                                                                                                                                                                                                                                                                                                                     ..
Experienced product development Engineer and manager able to collaborate with cross functional team as well as customers and sales to bring brand new offerings to new markets. Skilled at managing cross functional team for continuous improvements and meeting project deadlines. Offering 6 years of experience in the field.    28
I am a fresher looking for a Software developer role. During my intern period, I was chosen as a star performer for using out the box methodology to solve complex business problems.                                                                                                                                                28
Seasoned business development professional seeking leadership position with increasing responsibility and room to contribute to company success.                                                                                                                                                                                     20
I desire to work for a company that provides career advancement opportunities in a friendly environment. I would like to develop skills that make me proficient in my job and an asset to the company. I have a varied skill set and enjoy learning new techniques.                                                                  10
Dynamic, creative and proactive Accountant seeking a long-term opportunity within the business community, where my professional, experience, education, and abilities would be advantageous to the growth of my employer and myself.                                                                                                  6
Name: count, Length: 171, dtype: int64

In [415]:
print(resume_data.educational_institution_name.value_counts())

educational_institution_name
['Illinois Institute of Technology', 'National Institute of Technology']                                                                                            112
['Nagpur University']                                                                                                                                                84
['National Institute of Technology (NIT), Hamirpur']                                                                                                                 56
['New York University']                                                                                                                                              56
['VIT-AP University']                                                                                                                                                56
                                                                                                                                                                   ...
['Institute of Professional Excellence in Coaching', 'UNIVERSITY OF TULSA']                                                                                          20
['Western Governors University', 'University of Phoenix', 'Oklahoma Baptist University']                                                                             12
['Oklahoma Jr. College']                                                                                                                                             10
['Zambia Accountacy and Business Tuition Centre', 'National Institutes of Public Administration (NIPA)', 'Kamwala Secondary School', 'Chingwele Primary School']      6
['Argosy University', 'Winthrop University']                                                                                                                          4
Name: count, Length: 328, dtype: int64

In [416]:
print(resume_data.degree_names.value_counts())

degree_names
['B.Tech']                                                                      1764
['Bachelor of Science']                                                          980
['B.Tech', 'M.Tech']                                                             308
['B.S.']                                                                         168
['Master of Science', 'Bachelor of Science']                                     168
                                                                                ...
['Course Revisions for the: National Electrical Code', 'Associate Degree']        28
['Certified Professional Coach', 'Bachelor of Science']                           20
['Masters of Business Administration', 'Bachelors of Science', 'N/A']             12
['ACCA II Part Qualified', 'Diploma', 'Grade 12 (School Certificate)', None]       6
['Master of Science Degree', 'Bachelor of Science']                                4
Name: count, Length: 180, dtype: int64

In [417]:
print(resume_data.major_field_of_studies.value_counts())

major_field_of_studies
['N/A']                                                                 616
['Computer Science']                                                    560
['Computers']                                                           448
['Accounting']                                                          280
['ECE']                                                                 168
                                                                       ...
['Coaching', 'Business Administration, Marketing']                       20
['Business Strategy', 'Business Management', 'Biology/Pre-Medicine']     12
['Administrative Assistance']                                            10
[None, 'Accountancy', None, None]                                         6
['Psychology', 'Integrated Marketing Communications']                     4
Name: count, Length: 210, dtype: int64

#### on carrer_objective column

In [418]:
def clean_text(text):
    if pd.isna(text):  # Handle NaN values
        return ""
    
    text = text.lower().strip()  # Convert to lowercase and strip spaces
    text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with a single space
    text = re.sub(r'[^\w\s]', '', text)  # Remove special characters except spaces
    return text

# Apply cleaning function
resume_data['career_objective'] = resume_data['career_objective'].apply(clean_text)
print(resume_data['career_objective'].value_counts())

career_objective
                                                                                                                                                                                                                                                                                                                                  4804
big data analytics working and database warehouse manager with robust experience in handling all kinds of data i have also used multiple cloud infrastructure services and am well acquainted with them currently in search of role that offers more of development                                                                 28
to utilize my customer relations and management background to obtain a position with a company that places importance on efficiency and success employ natural leadership and interpersonal skills to build relationships throughout the organization                                                                               28
fresher python developer interested in data analytics and machine learning                                                                                                                                                                                                                                                          28
skilled machine learning and deep learning practitioner and i have worked on computer visionbased projects on the lookout for opportunities that help me understand more about the domain                                                                                                                                           28
                                                                                                                                                                                                                                                                                                                                  ...
experienced product development engineer and manager able to collaborate with cross functional team as well as customers and sales to bring brand new offerings to new markets skilled at managing cross functional team for continuous improvements and meeting project deadlines offering 6 years of experience in the field      28
i am a fresher looking for a software developer role during my intern period i was chosen as a star performer for using out the box methodology to solve complex business problems                                                                                                                                                  28
seasoned business development professional seeking leadership position with increasing responsibility and room to contribute to company success                                                                                                                                                                                     20
i desire to work for a company that provides career advancement opportunities in a friendly environment i would like to develop skills that make me proficient in my job and an asset to the company i have a varied skill set and enjoy learning new techniques                                                                    10
dynamic creative and proactive accountant seeking a longterm opportunity within the business community where my professional experience education and abilities would be advantageous to the growth of my employer and myself                                                                                                        6
Name: count, Length: 172, dtype: int64

### on educational_institution_name

In [419]:
import ast

def clean_educational_institution_name(name):
    if pd.isna(name):  # التحقق مما إذا كانت القيمة فارغة
        return ""  # استبدال القيم الفارغة بسلسلة فارغة

    if isinstance(name, str):
        try:
            name_list = ast.literal_eval(name)  # تحويل النص إلى قائمة
            if isinstance(name_list, list):
                name_list = [str(item).strip() for item in name_list if item]  # إزالة الفراغات والتأكد من أن القيم ليست فارغة
                cleaned_name = ', '.join(name_list)
            else:
                cleaned_name = name.strip()
        except (ValueError, SyntaxError):
            cleaned_name = name.strip()  # إبقاء النص كما هو إذا لم يكن بصيغة قائمة
    else:
        cleaned_name = str(name).strip()  # تحويل أي قيمة أخرى إلى نص وإزالة الفراغات

    return cleaned_name

# Apply the function to the column
resume_data['educational_institution_name'] = resume_data['educational_institution_name'].apply(clean_educational_institution_name)

print(resume_data.educational_institution_name.value_counts())

educational_institution_name
Illinois Institute of Technology, National Institute of Technology                                                                                        112
                                                                                                                                                           84
Nagpur University                                                                                                                                          84
New York University                                                                                                                                        56
National Institute of Technology (NIT), Hamirpur                                                                                                           56
                                                                                                                                                         ...
Institute of Professional Excellence in Coaching, UNIVERSITY OF TULSA                                                                                      20
Western Governors University, University of Phoenix, Oklahoma Baptist University                                                                           12
Oklahoma Jr. College                                                                                                                                       10
Zambia Accountacy and Business Tuition Centre, National Institutes of Public Administration (NIPA), Kamwala Secondary School, Chingwele Primary School      6
Argosy University, Winthrop University                                                                                                                      4
Name: count, Length: 329, dtype: int64

### on degree_names

In [420]:
print(resume_data['degree_names'].isna().sum())  # عدد القيم الفارغة

84

In [421]:
print(resume_data['degree_names'].value_counts())

degree_names
['B.Tech']                                                                      1764
['Bachelor of Science']                                                          980
['B.Tech', 'M.Tech']                                                             308
['B.S.']                                                                         168
['Master of Science', 'Bachelor of Science']                                     168
                                                                                ...
['Course Revisions for the: National Electrical Code', 'Associate Degree']        28
['Certified Professional Coach', 'Bachelor of Science']                           20
['Masters of Business Administration', 'Bachelors of Science', 'N/A']             12
['ACCA II Part Qualified', 'Diploma', 'Grade 12 (School Certificate)', None]       6
['Master of Science Degree', 'Bachelor of Science']                                4
Name: count, Length: 180, dtype: int64

In [422]:
print(resume_data['degree_names'].apply(type).value_counts())

degree_names
<class 'str'>      9460
<class 'float'>      84
Name: count, dtype: int64

 مشاكل موجودة في البيانات:
وجود قيم فارغة (NaN أو None)

هناك 84 قيمة مفقودة (NaN)، ويمكن استبدالها بـ "Unknown" أو "N/A" حسب الحاجة.
القيم مكتوبة كقوائم (list) بدلاً من نصوص (str)

العديد من القيم مثل ['B.Tech', 'M.Tech'] هي قوائم داخل الخلايا، مما يعيق عمليات البحث والتحليل.
تحتاج هذه القوائم إلى التحويل إلى نص عادي مثل "B.Tech, M.Tech".
بعض القيم تحتوي على None داخل القوائم

مثال: ['ACCA II Part Qualified', 'Diploma', 'Grade 12 (School Certificate)', None]
يجب إزالة None من القوائم عند تحويلها إلى نصوص.

In [423]:
# تنظيف القيم في عمود degree_names
def clean_degree_names(value):
    if pd.isna(value):
        return "Unknown"  # استبدال القيم الفارغة
    
    if isinstance(value, str):
        try:
            # محاولة تحويل النص إلى قائمة إذا كان بتنسيق list
            value_list = ast.literal_eval(value)  
            if isinstance(value_list, list):
                # إزالة None وتحويل القائمة إلى نص مفصول بفواصل
                return ", ".join([item for item in value_list if item is not None])
        except (SyntaxError, ValueError):
            pass  # إذا فشل التحويل، نترك القيمة كما هي

    return value  # إعادة القيمة الأصلية إذا لم تكن بحاجة إلى تعديل

# تطبيق الدالة على العمود
resume_data["degree_names"] = resume_data["degree_names"].apply(clean_degree_names)

# التحقق من النتيجة بعد التنظيف
print(resume_data["degree_names"].value_counts())

degree_names
B.Tech                                                                  1764
Bachelor of Science                                                      980
B.Tech, M.Tech                                                           308
Master of Science, Bachelor of Science                                   168
B.S.                                                                     168
                                                                        ...
Course Revisions for the: National Electrical Code, Associate Degree      28
Certified Professional Coach, Bachelor of Science                         20
Masters of Business Administration, Bachelors of Science, N/A             12
ACCA II Part Qualified, Diploma, Grade 12 (School Certificate)             6
Master of Science Degree, Bachelor of Science                              4
Name: count, Length: 178, dtype: int64

In [424]:
# التحقق من عدد القيم الفارغة
print("عدد القيم الفارغة:", resume_data["major_field_of_studies"].isna().sum())

# التحقق من أنواع البيانات في العمود
print(resume_data["major_field_of_studies"].apply(type).value_counts())

# عرض أكثر القيم تكرارًا لرؤية شكل البيانات
print(resume_data["major_field_of_studies"].value_counts().head(20))

عدد القيم الفارغة: 84
major_field_of_studies
<class 'str'>      9460
<class 'float'>      84
Name: count, dtype: int64
major_field_of_studies
['N/A']                                                              616
['Computer Science']                                                 560
['Computers']                                                        448
['Accounting']                                                       280
['ECE']                                                              168
['Information Technology']                                           168
['Electrical']                                                       140
['Mechanical Engineering']                                           140
['CSE']                                                              140
[None]                                                               112
['Computer Science', 'Electronics and Communication Engineering']    112
['Accounting', 'Accounting']                                         112
['Computer Science', 'Computer Science']                             112
['IT']                                                               112
['Civil']                                                            112
[None, None]                                                         112
['Electronics/Telecommunication']                                    112
['Electrical and Computer Engineering']                               84
['Statistics']                                                        84
['Business Administration']                                           84
Name: count, dtype: int64

Name: count, dtype: int64
ChatGPT said:
🔍 تحليل عمود major_field_of_studies
نعم، هذا العمود يحتاج إلى تنظيف بسبب المشاكل التالية:

وجود قيم فارغة (NaN / None)

يوجد 84 قيمة فارغة (NaN) و 112 قيمة تحتوي على None داخل القوائم.
يجب استبدال القيم الفارغة بـ "Unknown" أو "N/A" لضمان تناسق البيانات.
وجود قوائم بدلاً من نصوص (['Computer Science', 'Mathematics'])

يجب تحويل القوائم إلى نصوص مفصولة بفواصل (", ").
وجود تكرارات داخل القائمة (['Computer Science', 'Computer Science'])

يجب إزالة التكرارات داخل القائمة.
وجود قيم غير واضحة (['N/A'], ['IT'], ['CSE'])

يمكن توحيد بعض القيم المتشابهة (['IT'] → "Information Technology", ['CSE'] → "Computer Science").

In [425]:
def clean_major_field(field):
    if pd.isna(field):  # استبدال القيم الفارغة
        return "Unknown"
    
    try:
        field_list = ast.literal_eval(field) if isinstance(field, str) else field
        if isinstance(field_list, list):
            field_list = [item for item in field_list if item and item != "None"]  # إزالة None
            field_list = list(set(field_list))  # إزالة التكرارات
            return ", ".join(field_list) if field_list else "Unknown"
    except:
        return field  # في حالة حدوث خطأ، نعيد القيمة الأصلية
    
    return field  # إذا لم يكن هناك حاجة للتعديل

# تطبيق التنظيف على العمود
resume_data["major_field_of_studies"] = resume_data["major_field_of_studies"].apply(clean_major_field)

# عرض النتائج بعد التنظيف
print(resume_data["major_field_of_studies"].value_counts().head(20))

major_field_of_studies
Computer Science                                               728
N/A                                                            728
Computers                                                      504
Accounting                                                     392
Unknown                                                        308
Mechanical Engineering                                         196
ECE                                                            168
Electrical                                                     168
Information Technology                                         168
CSE                                                            140
Electronics and Communication Engineering, Computer Science    112
Civil                                                          112
IT                                                             112
Electronics/Telecommunication                                  112
Economics                                                       84
Mechanical                                                      84
Business Administration                                         84
Electrical Engineering                                          84
Statistics                                                      84
Computer Applications                                           84
Name: count, dtype: int64

In [426]:
# دمج الأعمدة الأربعة في عمود واحد باسم qualification
resume_data["qualification"] = resume_data[["career_objective", "educational_institution_name", "degree_names", "major_field_of_studies"]] \
    .astype(str) \
    .agg(lambda x: ", ".join(x.dropna().unique()), axis=1)

# حذف الأعمدة الأصلية بعد الدمج
resume_data.drop(columns=["career_objective", "educational_institution_name", "degree_names", "major_field_of_studies"], inplace=True)

# عرض أول 5 صفوف للتأكد من الدمج الصحيح
print(resume_data.head())

  address                                             skills  \
0     NaN  [Hdfs, Core Java, Hive, Talend, YARN, Microsof...
1     NaN  [R, SAS, Data Visualization, Business Analytic...
2     NaN  [HTML, Hive, PySpark, Application Support, Uni...
3     NaN  [commercial auto underwriting, mortgage loan, ...
4     NaN  [administrative, audit procedures, general led...

  educational_results    result_types  \
0             ['N/A']          [None]
1      ['N/A', 'N/A']  ['N/A', 'N/A']
2             ['N/A']         ['N/A']
3              [None]          [None]
4            ['3.84']          [None]

                                         start_dates  \
0                                       ['Nov 2019']
1                                       ['Sep 2019']
2                                      ['June 2018']
3  ['January 2011', 'January 2008', 'January 2006...
4  ['January 2016', 'January 2016', 'January 2012...

                                           end_dates  \
0                                      ['Till Date']
1                                      ['Till Date']
2                                      ['Till Date']
3  ['November 2015', 'January 2010', 'January 200...
4  ['Current', 'January 2016', 'January 2015', 'J...

                                           positions  \
0                               ['Big Data Analyst']
1                               ['Business Analyst']
2  ['Software Developer (Machine Learning Enginee...
3  ['Accountant', 'Accounts Receivable Clerk', 'M...
4  ['Staff Accountant', 'Senior Accountant', 'Tax...

                                    responsibilities  \
0  Technical Support\nTroubleshooting\nCollaborat...
1  Machine Learning Leadership\nCross-Functional ...
2  Trade Marketing Executive\nBrand Visibility, S...
3  Apparel Sourcing\nQuality Garment Sourcing\nRe...
4  iOS Lifecycle\nRequirement Analysis\nNative Fr...

                     extra_curricular_activity_types  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  ['Professional Organization', 'Honor Society',...

                 extra_curricular_organization_names  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  ['Ohio Society of CPAs', 'Beta Alpha Psi', 'Go...

  extra_curricular_organization_links            role_positions languages  \
0                                 NaN                       NaN
1                                 NaN                       NaN
2                                 NaN                       NaN
3                                 NaN                       NaN
4            [None, None, None, None]  [None, None, None, None]

  certification_providers location  \
0                     NaN     None
1                     NaN     None
2                     NaN     None
3                     NaN     None
4  ['Ohio Notary Public']     None

                                       qualification
0  big data analytics working and database wareho...
1  fresher looking to join as a data analyst and ...
2  , Birla Institute of Technology (BIT), Ranchi,...
3  to obtain a position in a fastpaced business o...
4  professional accountant with an outstanding wo...

In [427]:
resume_data.head(2)

,address,skills,educational_results,result_types,start_dates,end_dates,positions,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,extra_curricular_organization_links,role_positions,languages,certification_providers,location,qualification
0,NaN,"[Hdfs, Core Java, Hive, Talend, YARN, Microsof...",['N/A'],[None],['Nov 2019'],['Till Date'],['Big Data Analyst'],Technical Support\nTroubleshooting\nCollaborat...,NaN,NaN,NaN,NaN,,NaN,None,big data analytics working and database wareho...
1,NaN,"[R, SAS, Data Visualization, Business Analytic...","['N/A', 'N/A']","['N/A', 'N/A']",['Sep 2019'],['Till Date'],['Business Analyst'],Machine Learning Leadership\nCross-Functional ...,NaN,NaN,NaN,NaN,,NaN,None,fresher looking to join as a data analyst and ...

## convert end_dates and start_dates to experiecne year column

In [428]:
for i in range(300):
  print(resume_data.start_dates[i])
  print(resume_data.end_dates[i])

['Nov 2019']
['Till Date']
['Sep 2019']
['Till Date']
['June 2018']
['Till Date']
['January 2011', 'January 2008', 'January 2006', 'January 2004', 'January 2001', 'N/A']
['November 2015', 'January 2010', 'January 2008', 'January 2006', 'January 2004', None]
['January 2016', 'January 2016', 'January 2012', 'January 2009', 'January 2006']
['Current', 'January 2016', 'January 2015', 'January 2011', 'January 2009']
['August 2006', 'August 2013', 'July 2014']
['January 2013', 'September 2014', 'Current']
['Jan 2019']
['Sep 2019']
['January 2013', 'January 2011', 'January 2005']
['Current', 'January 2012', 'January 2011']
['Jun 2019']
['till date']
['Jan 2019']
['Till Date']
['January 1995', 'January 2003', 'January 1993']
['Current', 'January 2004', 'January 1995']
['APR 2020']
['TILL DATE']
['Jul 2020', 'Dec 2019']
['till date', 'May 2020']
['July 2021', 'May 2021']
['Aug 2021', 'June 2021']
['May 2021', 'January 2021']
['current', 'May 2021']
['Jun 2020']
['till date']
['01/2014', '12/2012', '01/2011', '07/2004']
['Current', None, '12/2013', '12/2010']
['Dec 2019']
['Till Date']
['May 2021', 'January 2021']
['current', 'May 2021']
['Mar 2019']
['till date']
['Mar 2006', 'Jan 2005', 'Aug 2002']
['Current', 'Mar 2006', 'Jan 2005']
['August 2007', 'April 2006', 'May 1998']
['Current', 'August 2007', 'April 2006']
['May 2018']
['Ongoing']
['05/2014', '04/2013', '11/2007', '10/2006', '11/2004', '07/2001']
[None, '05/2014', '06/2012', '11/2007', '05/2006', '02/2004']
['Feb 2020']
['Ongoing']
['2017', '2014', '2012']
['current', '2017', '2014']
['Nov 2019']
['Till Date']
['June 2018']
['Till Date']
['September 2009', 'November 2005', 'August 1997', 'August 1994']
['Current', 'August 2009', 'October 2005', 'July 1997']
['Jun 2020']
['till date']
['Jan 2019']
['Jan 2020']
['2/2019', '1/2018', '5/2016']
['6/2020', '1/2019', '8/2016']
['July 2013', 'September 2012', 'November 1981']
['January 2016', 'July 2013', 'October 2011']
['2019']
['TILL DATE']
['May 2016', 'August 2011', 'April 2008', 'September 2010', 'June 2010']
['August 2016', 'Present', 'May 2011', 'December 2010', 'August 2010']
['Dec 2018']
['Ongoing']
['Jan 2020']
['Oct 2020']
['Mar 2019']
['till date']
['August 2020', 'August 2019']
['March 2021', 'June 2020']
['Jul 2009', 'Jan 2007', 'Jan 2000', 'Jan 1998']
['Current', 'Jan 2009', 'Jan 2007', 'Jan 2000']
['01/2019', '06/2014', '10/2007']
['N/A', '12/2018', '11/2010']
['Dec 2019']
['N/A']
['November 2010', 'January 2004', 'April 2000']
['May 2016', 'November 2010', 'January 2004']
['2011', '2012']
['Present', '2013']
['07/2017', '06/2013']
['08/2017', '06/2016']
['Feb 2017', 'Feb 2016', 'Aug 2015']
['Apr 2017', 'May 2016', 'Jul 2017']
['08/2015', '03/2015', '06/2014', '04/2014']
[None, '08/2015', '03/2015', '06/2014']
['2017', '2014', '2012']
['current', '2017', '2014']
['09/2015', '09/2014', '04/2005', '01/2003']
['03/2016', '09/2015', '09/2014', '04/2005']
['Apr 2019']
['Dec 2020']
['April 2018', 'April 2017']
['September 2018', 'September 2017']
['01/2016', '06/2012', '02/2011']
['Current', '01/2016', '07/2012']
['06/1996', '06/2012', '08/2007', '02/1980']
['01/2016', '06/2014', '10/2009', '06/1996']
['February 2015', 'November 2014', 'November 2012', 'April 2012', 'April 2011', 'September 2006']
['September 2015', 'February 2015', 'January 2014', 'November 2012', 'December 2011', 'December 2011']
['November 2022', 'January 2021']
['current', 'January 2022']
['December 2020', 'November 2019', 'June 2018']
['current', 'December 2020', 'November 2019']
['Jan 2021']
['Till Date']
['Oct 2019']
[None]
['May 2011', 'January 2007', 'March 2003', 'January 1999']
['November 2014', 'May 2011', 'January 2007', 'January 2001']
['05/2014', '04/2013', '11/2007', '10/2006', '11/2004', '07/2001']
[None, '05/2014', '06/2012', '11/2007', '05/2006', '02/2004']
['Feb 2020']
['till date']
['Apr 2019']
['till date']
['Jan 2018']
['Ongoing']
['Jul 1996', 'Nov 1995', 'Oct 1993', 'Jan 1990']
['Jul 2016', 'Jul 1996', 'Nov 1995', 'Oct 1992']
['Apr 2020']
['Oct 2020']
['January 2001', 'January 1997', 'January 1993']
['January 2015', 'January 2001', 'January 1997']
['January 2018', 'April 2015']
['May 2021', 'January 2018']
['08/2012', '08/2008', '02/2007', '05/2002']
['Current', '08/2012', '06/2010', '02/2007']
['Aug 2020']
['Till Date']
['06/2014', 'N/A']
['06/2014', 'N/A']
['May 2019']
['Till Date']
['Nov 2019']
['Till Date']
['Apr 2019']
['Till date']
['Aug 2020']
['Till Date']
['10/2000', '08/1999', '08/1998']
['Current', '09/1999', '08/1999']
['August 2007', 'January 2002', 'April 1995']
['October 2014', 'June 2007', 'November 2001']
['May 2019']
['August 2019']
['04/2018', '04/2016', '08/2013', '02/2012', '01/2011', '01/2009', '09/2006', '04/2004', '01/2003', '10/1999']
['05/2018', '04/2018', '04/2016', '08/2013', '02/2012', '12/2010', '12/2008', '09/2006', '04/2004', '11/2002']
['Jul 2019']
['Sep 2020']
['Aug 2020']
['Ongoing']
['October 2011', 'January 2009', 'August 2007', 'April 2006', 'October 2001', 'September 2000']
['August 2015', 'September 2011', 'December 2008', 'May 2007', 'March 2006', 'September 2001']
['May 20XX', 'April 20XX']
['August 20XX', 'May 20XX']
['July 2015', 'July 2014', 'June 2013', 'June 2010']
['June 2017', 'December 2014', 'August 2013', 'August 2011']
['August 2019']
['January 2020']
['January 2014', 'March 2013', 'April 2012', 'July 2010']
['October 2014', 'January 2014', 'March 2013', 'August 2011']
['2022', '2020', '2018']
['current', '2022', '2020']
['11/2011', '06/2009', '05/2002', '05/1998', '02/1992']
['05/2014', '10/2011', '06/2009', '05/2002', '05/1998']
['Nov 2018']
['Apr 2020']
['July 2014', 'January 2012', 'May 2012']
['current', 'June 2014', 'May 2014']
['2017', '2014', '2012']
['current', '2017', '2014']
['12/2006', '08/2004', '05/1997', '05/1989']
['04/2009', '12/2006', '07/2004', '06/1996']
['Aug 2020']
['Till Date']
['Dec 2019']
['August 2020']
['May 2019']
['Oct 2019']
['SEP 2019', 'SEP 2018']
['TILL DATE', None]
['May 2011', 'January 2009', 'November 2005', 'November 2000', 'January 1993', 'November 1992', 'January 1984']
['Current', 'May 2011', 'January 2009', 'November 2005', 'November 2000', 'January 1993', 'November 1992']
['February 2015', 'November 2014', 'November 2012', 'April 2012', 'April 2011', 'September 2006']
['September 2015', 'February 2015', 'January 2014', 'November 2012', 'December 2011', 'December 2011']
['May 2019']
['till date']
['May 2000', 'April 1980']
['December 2015', 'May 2000']
['August 2011', 'July 2006', 'July 1995', 'January 1992']
['Current', 'August 2011', 'July 2006', 'July 1995']
['Jun 2020']
['Dec 2020']
['January 2012', 'January 2000', 'January 1992']
['January 2013', 'Current', 'January 2000']
['Mar 2019']
['till date']
['December 2007', 'December 2001', 'July 1991', 'May 1981']
['August 2014', 'December 2007', 'November 2001', 'May 1991']
['April 2015', 'February 2015', 'February 2004', 'September 1999', 'April 2003', 'March 2001']
['Current', 'April 2015', 'June 2014', 'January 2004', 'September 2003', 'January 2002']
['January 1995', 'January 2003', 'January 1993']
['Current', 'January 2004', 'January 1995']
['Feb 2020']
['Ongoing']
['2022', '1990', '1993', '1987', '1985', '1983', '1982', '1980', '1977']
['∞', '2022', '2007', '1990', '1987', '1985', '1983', '1982', '1980']
['May 2014', None, 'Sep 2013', 'Jul 2011']
['Aug 2014', None, 'Dec 2013', 'Jul 2012']
['N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']
['N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']
['July 2015', 'July 2008', 'December 2007', 'October 2005', 'June 2005', 'September 2004']
['Current', 'July 2015', 'June 2008', 'October 2007', 'August 2005', 'January 2005']
['Jan 2020']
['Till Date']
['02/2017', '12/2016', '12/2015']
['07/2017', '02/2017', '11/2016']
['January 2012', 'January 2000', 'January 1992']
['January 2013', 'Current', 'January 2000']
['January 2011', 'January 2008', 'January 2006', 'January 2004', 'January 2001', 'N/A']
['November 2015', 'January 2010', 'January 2008', 'January 2006', 'January 2004', None]
['03/2015', '08/2008', '05/2005', '11/2001']
['Current', '03/2015', '08/2008', '05/2005']
['Jan 2020']
['Ongoing']
['Summer 2013', 'Summer 2012', '2007']
[None, None, '2010']
['Apr 2020']
['till Date']
['Summer 2013', 'Summer 2012', '2007']
[None, None, '2010']
['2020', '2017', '2015']
['current', '2020', '2017']
['04/2020', '11/2017', '09/2012']
['Current', '04/2020', '06/2017']
['August 2011', 'July 2006', 'July 1995', 'January 1992']
['Current', 'August 2011', 'July 2006', 'July 1995']
['Jul 2019']
['Sep 2020']
['01/2014', '01/2011', '07/2003', '07/1999', '07/1992', '06/1991']
['Current', '12/2013', '12/2010', '06/2003', '06/1999', '06/1992']
['Dec 2019']
['Till Date']
['Nov 2019']
['Till Date']
['Nov 2023', 'May 2023', 'June 2022', 'Jan. 2022', 'Aug. 2017', 'Jul. 2016', 'Mar. 2015']
['present', 'Oct 2023', 'Aug. 2022', 'Apr. 2022', 'Dec. 2017', 'Jan. 2017', 'Jan. 2016']
['10/2012', '05/2011', '01/2010', '01/2008', '01/2004']
['03/2014', '08/2012', '01/2011', '01/2010', '01/2008']
['02/2018', '08/2011', '03/2001']
['Current', '02/2018', 'Current']
['09/2015', '03/2013', '07/2010']
['Current', '09/2015', '12/2012']
['May 2011', 'January 2007', 'March 2003', 'January 1999']
['November 2014', 'May 2011', 'January 2007', 'January 2001']
['July 2014', 'January 2012', 'May 2012']
['current', 'June 2014', 'May 2014']
['02/2011', '03/1998', '06/1993', 'Fall 2014', '1987']
['04/2017', '01/2011', '03/1998', 'Fall 2016', '1988']
['July 2015', 'July 2008', 'December 2007', 'October 2005', 'June 2005', 'September 2004']
['Current', 'July 2015', 'June 2008', 'October 2007', 'August 2005', 'January 2005']
['September 2009', 'November 2005', 'August 1997', 'August 1994']
['Current', 'August 2009', 'October 2005', 'July 1997']
['May 2011', 'January 2007', 'March 2003', 'January 1999']
['November 2014', 'May 2011', 'January 2007', 'January 2001']
['Jan 2019', 'May 2018']
['Apr 2020', 'Nov 2018']
['August 2020', 'June 2019']
['Present', 'August 2019']
['Jan 2019']
['till date']
['Aug 2020']
['Dec 2020']
['May 2020']
['Dec 2020']
['04/2017', '02/2017', '10/2016', '10/2016', '05/2010']
['Current', 'Current', '04/2017', '04/2017', '08/2016']
['12/2006', '08/2004', '05/1997', '05/1989']
['04/2009', '12/2006', '07/2004', '06/1996']
['Feb 2020']
['Ongoing']
['Jan 2018']
['Ongoing']
['01/2013', '07/2011', '01/2011']
['Current', '08/2011', '01/2013']
['May 2019']
['August 2019']
['01/2004', '01/2002', '07/1991']
['Current', '01/2004', '01/2002']
['April 2007', 'October 2006', 'March 1994', 'January 1991']
['Current', 'March 2008', 'July 2001', 'December 1994']
['03/2018', '03/2017', '06/2013']
['Current', '03/2018', '03/2017']
['01/2016', '09/2015', '01/2013', '06/2013', '05/2012']
['05/2016', '12/2015', '05/2013', '08/2013', '07/2012']
['01/2011', '01/2012', '01/2011', '01/2010', '01/2002']
['Current', 'Current', '01/2012', '01/2011', '01/2011']
['May 2019']
['Till Date']
['May 2021', 'January 2021']
['current', 'May 2021']
['Nov 2019']
['Apr 2021']
['Jul 2019']
['Apr 2020']
['Feb 2019']
['Till Date']
['Feb 2017', 'Feb 2016', 'Aug 2015']
['Apr 2017', 'May 2016', 'Jul 2017']
['August 2020', 'June 2019']
['Present', 'August 2019']
['May 2014', None, 'Sep 2013', 'Jul 2011']
['Aug 2014', None, 'Dec 2013', 'Jul 2012']
['January 2011', 'January 2008', 'January 2006', 'January 2004', 'January 2001', 'N/A']
['November 2015', 'January 2010', 'January 2008', 'January 2006', 'January 2004', None]
['02/2014', '06/2010', '09/2006']
['Current', '01/2014', '06/2010']
['2014', '2012', '2011', '2011', '2007', None]
[None, '2014', '2012', None, None, None]
['2021', '2018', '2015']
['current', '2021', '2018']
['Aug 2020']
['Till Date']
['September 2009', 'November 2005', 'August 1997', 'August 1994']
['Current', 'August 2009', 'October 2005', 'July 1997']
['Feb 2017', 'Feb 2016', 'Aug 2015']
['Apr 2017', 'May 2016', 'Jul 2017']
['2019']
['TILL DATE']
['Jul 2019']
['Ongoing']
['Mar 2006', 'Jan 2005', 'Aug 2002']
['Current', 'Mar 2006', 'Jan 2005']
['APR 2020']
['TILL DATE']
['10/2014', '06/2013', '08/2012', '06/2011']
['01/2016', '10/2014', '06/2013', '08/2012']
['Feb 2020']
['Ongoing']
['APR 2020']
['TILL DATE']
['Jul 2019']
['Sep 2020']
['July 2008', 'April 2007', 'January 2006', 'January 2004']
['January 2015', 'July 2008', 'March 2007', 'January 2006']
['08/2014', '12/2012', '01/2010']
['Current', '08/2014', '02/2012']
['2022', '2020', '2018']
['current', '2022', '2020']
['Mar 2019']
['Ongoing']
['20xx', '20xx', '20xx']
['Present', 'Present', '20xx']
['2022', '2020', '2018']
['current', '2022', '2020']
['01/2016', '04/2015', '09/2005']
['Current', '01/2016', '04/2015']
['Jul 2020']
['Apr 2021']
['October 2011', 'January 2009', 'August 2007', 'April 2006', 'October 2001', 'September 2000']
['August 2015', 'September 2011', 'December 2008', 'May 2007', 'March 2006', 'September 2001']
['May 2018']
['Ongoing']
['Feb 2007', 'Sep 2003', 'Feb 1996', 'Jan 1974']
['Current', 'Jan 2007', 'Aug 2003', 'Jan 1996']
nan
nan
['May 2020']
['Oct 2020']
['Jul 2019']
['Apr 2020']
['June 2011', 'March 2010', 'June 2007', 'August 2006']
['Current', 'June 2011', 'March 2010', 'May 2007']
['01/2016', '04/2015', '09/2005']
['Current', '01/2016', '04/2015']
['01/2015', '06/2012']
['Current', '08/2014']
['11/2011', '06/2009', '05/2002', '05/1998', '02/1992']
['05/2014', '10/2011', '06/2009', '05/2002', '05/1998']
['Jan 2019']
['till date']
['July 2014', 'January 2012', 'May 2012']
['current', 'June 2014', 'May 2014']
['Mar 2018']
['Aug 2020']
['August 2013', 'May 2012', 'August 2011', 'January 2010']
['Current', 'July 2013', 'May 2012', 'April 2010']
['January 2014', 'January 2013', 'January 2009', 'January 2008']
['January 2018', 'N/A', 'January 2013', 'January 2009']
['Dec 2019']
['Mar 2020']
['June 2010', 'June 2007', 'August 2006']
['Current', 'June 2010', 'May 2007']
['March 2001', 'April 1999', 'June 1996', 'July 1992', 'September 1991', 'September 1988', 'June 1984']
['Current', 'March 2001', 'April 1999', 'June 1996', 'July 1992', 'October 1990', 'September 1988']
['Feb 2020', 'Jan 2019']
['till date', 'Dec 2019']
['Feb 2020']
['till date']
['August 2014', 'February 2014', 'January 2005', 'January 2003', 'January 2002', 'January 2000', 'January 1998', 'January 1999']
['May 2015', 'June 2014', 'February 2014', 'January 2004', 'January 2002', 'January 2002', 'January 2000', 'January 2000']
['Nov 2023', 'May 2023', 'June 2022', 'Jan. 2022', 'Aug. 2017', 'Jul. 2016', 'Mar. 2015']
['present', 'Oct 2023', 'Aug. 2022', 'Apr. 2022', 'Dec. 2017', 'Jan. 2017', 'Jan. 2016']
['August 2019']
['January 2020']
['July 2015', 'July 2014', 'June 2013', 'June 2010']
['June 2017', 'December 2014', 'August 2013', 'August 2011']
['July 2008', 'April 2007', 'January 2006', 'January 2004']
['January 2015', 'July 2008', 'March 2007', 'January 2006']
['July 2021', 'May 2021']
['Aug 2021', 'June 2021']
['05/2017', '05/2016', '05/2015']
['08/2017', '08/2016', '08/2015']
['August 2018']
['Till Date']
['July 2019']
['Till Date']
['Feb 2020', 'Jan 2019']
['till date', 'Dec 2019']
['05/2012', '09/2011', '08/2008', '07/2007', '01/2007']
['05/2015', '05/2012', '09/2011', '08/2008', '04/2007']
['07/2007', '01/2003', '09/1996']
['09/2015', '12/2007', '05/1999']
['Aug 2020']
['Till Date']
['11/2012', '01/2009', '11/2007', '04/2003', '02/2000', '01/1990', 'N/A', 'N/A']
['Current', '10/2012', '01/2009', '11/2007', '04/2003', '02/2000', 'N/A', 'N/A']
['June 2011', 'March 2010', 'June 2007', 'August 2006']
['Current', 'June 2011', 'March 2010', 'May 2007']
['06/2014', '03/2013', '10/2011', '08/2010']
['10/2016', '05/2014', '02/2013', '09/2011']
['June 2014', 'January 2008', 'January 2003']
['August 2014', 'Current', 'January 2005']
['07/2013', '08/1999', '02/1998', '08/1996']
['Current', '07/2013', '08/1999', '08/1999']
['May 20XX', 'April 20XX']
['August 20XX', 'May 20XX']
['Apr 2019']
['Till date']
['Apr 2020']
['Sep 2020']
['Nov 2019']
['Till date']
['Dec 2019']
['Mar 2020']
['09/2015', '05/2014']
['Current', '03/2015']
['2022', '1990', '1993', '1987', '1985', '1983', '1982', '1980', '1977']
['∞', '2022', '2007', '1990', '1987', '1985', '1983', '1982', '1980']
['Nov 2019']
['Ongoing']
['03/2015', '08/2008', '05/2005', '11/2001']
['Current', '03/2015', '08/2008', '05/2005']
['December 2007', 'December 2001', 'July 1991', 'May 1981']
['August 2014', 'December 2007', 'November 2001', 'May 1991']
['Jun 2019']
['Till Date']
['10/2012', '05/2011', '01/2010', '01/2008', '01/2004']
['03/2014', '08/2012', '01/2011', '01/2010', '01/2008']
['August 2020']
[None]
['06/2014', '06/2014', '07/2014', '08/2011', '06/2009', '12/2007', '01/2004', '03/1999', '04/1996']
['Current', 'Current', 'Current', '06/2014', '08/2011', '08/2009', '11/2007', '02/2004', '03/1999']
['May 2020']
['Dec 2020']
['Jun 2019']
['Ongoing']
['04/2006', '06/2004', '09/2002', '04/1998', '06/1996']
['09/2016', '04/2006', '04/2003', '05/2001', '04/1998']
['June 2013', 'February 2008', 'January 2000', 'January 1996']
['Current', 'March 2013', 'January 2007', 'January 2000']
['December 2014', 'May 2011', 'October 2008', 'August 2006', 'January 2005']
['Current', 'December 2014', 'May 2011', 'October 2008', 'August 2006']
['02/2018', '08/2011', '03/2001']
['Current', '02/2018', 'Current']
['Aug. 11, 2003', None, 'Oct. 1, 2012', 'May 21, 2007']
['May 18, 2007', None, 'Jul. 31, 2013', 'Dec. 5, 2008']
['Jul 2019']
['Oct 2020']
['Jan 2020']
['Apr 2020']
['07/2007', '01/2003', '09/1996']
['09/2015', '12/2007', '05/1999']
['01/2013', '01/2007', '01/2004']
['01/2016', '01/2012', '01/2006']
['01/2015', '06/2012']
['Current', '08/2014']
nan
nan
['Jul 2019']
['Sep 2020']
['07/2017', '06/2013']
['08/2017', '06/2016']
['Jul 2019', 'Jun 2018']
['Ongoing', 'May 2019']
['May 2014', None, 'Sep 2013', 'Jul 2011']
['Aug 2014', None, 'Dec 2013', 'Jul 2012']
['OCT 2018']
['May 2019']
['July 2015', 'July 2014', 'June 2013', 'June 2010']
['June 2017', 'December 2014', 'August 2013', 'August 2011']
['Feb 2007', 'Sep 2003', 'Feb 1996', 'Jan 1974']
['Current', 'Jan 2007', 'Aug 2003', 'Jan 1996']
['Jul 2019']
['Ongoing']
['December 2014', 'May 2011', 'October 2008', 'August 2006', 'January 2005']
['Current', 'December 2014', 'May 2011', 'October 2008', 'August 2006']
['Jun 2020']
['Ongoing']
['August 2014', 'February 2014', 'January 2005', 'January 2003', 'January 2002', 'January 2000', 'January 1998', 'January 1999']
['May 2015', 'June 2014', 'February 2014', 'January 2004', 'January 2002', 'January 2002', 'January 2000', 'January 2000']
['January 2013', 'January 2011', 'January 2005']
['Current', 'January 2012', 'January 2011']
['02/2013', '05/2008', '05/2005', '04/2004', '01/1996', '04/1995', '08/1991', '02/1987']
['08/2015', '02/2013', '05/2008', '05/2005', '04/2004', '12/1995', '04/1995', '04/1991']
['November 2011', 'September 2006', 'March 2006']
[None, 'October 2011', 'August 2006']
['01/2016', '09/2015', '01/2013', '06/2013', '05/2012']
['05/2016', '12/2015', '05/2013', '08/2013', '07/2012']
['12/2015', '01/2009', '03/2005', '01/2003', '01/1997']
['08/2016', '12/2015', '01/2009', '01/2005', '01/2003']
['Jan 2018']
['Nov 2020']
['Jul 2019']
['Till Date']
['04/2014', '04/1996', '08/1995', '09/1991', '01/1985', '01/1983']
['07/2015', '07/2015', '04/1996', '08/1995', '01/1991', '01/1985']
['04/2012', '10/2011', '01/2007', '12/2005']
['06/2014', '04/2012', '08/2011', '12/2006']
['09/2005', '01/2004', '09/2001']
['Current', '05/2005', '12/2003']
['Nov 2019']
['Oct 2020']
['June 2014', 'January 2008', 'January 2003']
['August 2014', 'Current', 'January 2005']
['September 2009', 'November 2005', 'August 1997', 'August 1994']
['Current', 'August 2009', 'October 2005', 'July 1997']
['November 2013', 'August 2011', 'October 2007', 'October 2005', 'August 2002']
['September 2015', 'October 2013', 'July 2011', 'September 2007', 'October 2005']
['Jan 2019']
['till date']
nan
nan
['July 2014', 'January 2012', 'May 2012']
['current', 'June 2014', 'May 2014']
['Mar 2019']
['till date']
['Jan 2019']
['Jan 2020']
['May 2019']

In [429]:
resume_data.start_dates.value_counts()

start_dates
['Nov 2019']                                                                                           280
['Jan 2019']                                                                                           280
['Apr 2019']                                                                                           280
['May 2019']                                                                                           252
['Jan 2020']                                                                                           196
                                                                                                      ...
['03/2014', '06/2003', '01/2002', '01/2001', '01/1995', '01/1991']                                      20
['06/2014', '06/2014', '07/2014', '08/2011', '06/2009', '12/2007', '01/2004', '03/1999', '04/1996']     12
['Jul 1996', 'Nov 1995', 'Oct 1993', 'Jan 1990']                                                        10
['09/2005', '01/2004', '09/2001']                                                                        6
['07/2015', '07/2015', '08/2014', '02/2013', '07/2009', '05/2007', '01/2007']                            4
Name: count, Length: 252, dtype: int64

In [430]:
resume_data.end_dates.value_counts()

end_dates
['Till Date']                                                                                          700
['Ongoing']                                                                                            588
['till date']                                                                                          336
['Oct 2020']                                                                                           280
['Dec 2020']                                                                                           168
                                                                                                      ...
['10/2019', '11/2013', '01/2003', '01/2002', '01/2000', '01/1995']                                      20
['Current', 'Current', 'Current', '06/2014', '08/2011', '08/2009', '11/2007', '02/2004', '03/1999']     12
['Jul 2016', 'Jul 1996', 'Nov 1995', 'Oct 1992']                                                        10
['Current', '05/2005', '12/2003']                                                                        6
[None, None, '07/2015', '08/2014', '01/2013', '07/2009', '05/2007']                                      4
Name: count, Length: 246, dtype: int64

In [431]:
resume_data.shape

(9544, 16)

In [432]:
resume_data.columns

Index(['address', 'skills', 'educational_results', 'result_types',
       'start_dates', 'end_dates', 'positions', 'responsibilities',
       'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'certification_providers', 'location', 'qualification'],
      dtype='object')

Convert Strings to Lists Properly:

Some values are single dates ('Nov 2019'), while others are lists ("['03/2014', '06/2003', '01/2002']").
We need to extract dates correctly from string representations of lists.
Standardize Date Formats:

Some dates are in "MMM YYYY" format (e.g., 'Nov 2019'), while others are in "MM/YYYY" format (e.g., '03/2014').
We'll parse both formats correctly.
Extract Minimum Date for Each Row:

If a row contains multiple dates, we'll find the earliest (oldest) date.
Handle Missing or Invalid Data:

Convert any NaN or empty lists to NaT (Not a Time).
Handle errors gracefully during conversion.

In [433]:
import pandas as pd
import ast  # To safely convert string representations of lists

def extract_min_date(date_list):
    if pd.isna(date_list) or date_list == "[]":
        return pd.NaT  # Return NaT if empty or NaN
    
    if isinstance(date_list, str):  
        try:
            date_list = ast.literal_eval(date_list)  # Convert string to list
        except (ValueError, SyntaxError):
            date_list = [date_list]  # If it's a single string, treat it as a list
    
    if not isinstance(date_list, list):
        date_list = [date_list]  # Ensure it's a list
    
    parsed_dates = []
    for date in date_list:
        date = str(date).strip()
        
        # Try parsing different date formats
        try:
            if "/" in date:  # Format: MM/YYYY
                parsed_dates.append(pd.to_datetime(date, format="%m/%Y", errors="coerce"))
            else:  # Format: MMM YYYY (e.g., 'Nov 2019')
                parsed_dates.append(pd.to_datetime(date, format="%b %Y", errors="coerce"))
        except Exception:
            continue  # Skip invalid dates
    
    # Return the minimum valid date
    return min(parsed_dates) if parsed_dates else pd.NaT

# Apply the function to the column
resume_data["start_dates"] = resume_data["start_dates"].apply(extract_min_date)

# Display cleaned data
resume_data.start_dates.value_counts()

start_dates
2019-01-01    336
2019-11-01    280
2019-04-01    280
2019-05-01    252
2019-12-01    224
             ...
2011-06-01     28
2021-01-01     28
2008-11-01     28
1991-01-01     20
1996-04-01     12
Name: count, Length: 116, dtype: int64

Steps for Data Cleaning
Convert Strings to Lists Properly:

Some values are single dates ('Oct 2020'), while others are lists ("['10/2019', '11/2013', '01/2003']").
We need to extract dates correctly from string representations of lists.
Standardize Date Formats:

Some dates are in "MMM YYYY" format (e.g., 'Oct 2020'), while others are in "MM/YYYY" format (e.g., '10/2019').
We'll parse both formats correctly.
Handle "Current" Values:

Values like 'Till Date', 'Ongoing', 'Current', and variations like 'till date' should be converted to NaT (Not a Time) or today's date.
Extract Maximum Date for Each Row:

If a row contains multiple dates, we'll find the latest (most recent) date.
Handle Missing or Invalid Data:

Convert any NaN or empty lists to NaT.
Handle errors gracefully during conversion.

In [434]:
import pandas as pd
import ast  # To safely convert string representations of lists
from datetime import datetime

def extract_max_date(date_list):
    if pd.isna(date_list) or date_list == "[]":
        return pd.NaT  # Return NaT if empty or NaN
    
    if isinstance(date_list, str):  
        try:
            date_list = ast.literal_eval(date_list)  # Convert string to list
        except (ValueError, SyntaxError):
            date_list = [date_list]  # If it's a single string, treat it as a list
    
    if not isinstance(date_list, list):
        date_list = [date_list]  # Ensure it's a list
    
    parsed_dates = []
    for date in date_list:
        date = str(date).strip()

        # Handle 'Current' values
        if date.lower() in ['till date', 'ongoing', 'current']:
            parsed_dates.append(pd.Timestamp.today())  # Use today's date

        else:
            # Try parsing different date formats
            try:
                if "/" in date:  # Format: MM/YYYY
                    parsed_dates.append(pd.to_datetime(date, format="%m/%Y", errors="coerce"))
                else:  # Format: MMM YYYY (e.g., 'Oct 2020')
                    parsed_dates.append(pd.to_datetime(date, format="%b %Y", errors="coerce"))
            except Exception:
                continue  # Skip invalid dates
    
    # Return the maximum valid date
    return max(parsed_dates) if parsed_dates else pd.NaT

# Apply the function to the column
resume_data["end_dates"] = resume_data["end_dates"].apply(extract_max_date)

# Display cleaned data
resume_data.end_dates.value_counts()

end_dates
2020-10-01 00:00:00.000000    308
2020-12-01 00:00:00.000000    196
2016-01-01 00:00:00.000000    140
2020-04-01 00:00:00.000000    112
2020-09-01 00:00:00.000000     84
                             ...
2025-02-09 01:46:56.261954      1
2025-02-09 01:46:57.236204      1
2025-02-09 01:46:57.237204      1
2025-02-09 01:46:57.238205      1
2025-02-09 01:46:55.438080      1
Name: count, Length: 2212, dtype: int64

In [435]:
# Ensure start_dates and end_dates are in datetime format
resume_data["start_dates"] = pd.to_datetime(resume_data["start_dates"])
resume_data["end_dates"] = pd.to_datetime(resume_data["end_dates"])

# Calculate the difference in years
resume_data["year_of_experience"] = (resume_data["end_dates"] - resume_data["start_dates"]).dt.days / 365.25

# Display the updated dataframe
print(resume_data.year_of_experience.value_counts())

year_of_experience
5.275838     168
6.108145     168
5.108830     140
0.585900     140
5.779603     140
            ...
23.832991     28
14.611910     28
28.747433     20
28.859685     12
26.496920     10
Name: count, Length: 143, dtype: int64

In [436]:
# Drop the original date columns
resume_data.drop(columns=["start_dates", "end_dates"], inplace=True)

In [437]:
resume_data.head()

,address,skills,educational_results,result_types,positions,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,extra_curricular_organization_links,role_positions,languages,certification_providers,location,qualification,year_of_experience
0,NaN,"[Hdfs, Core Java, Hive, Talend, YARN, Microsof...",['N/A'],[None],['Big Data Analyst'],Technical Support\nTroubleshooting\nCollaborat...,NaN,NaN,NaN,NaN,,NaN,None,big data analytics working and database wareho...,5.275838
1,NaN,"[R, SAS, Data Visualization, Business Analytic...","['N/A', 'N/A']","['N/A', 'N/A']",['Business Analyst'],Machine Learning Leadership\nCross-Functional ...,NaN,NaN,NaN,NaN,,NaN,None,fresher looking to join as a data analyst and ...,5.442847
2,NaN,"[HTML, Hive, PySpark, Application Support, Uni...",['N/A'],['N/A'],['Software Developer (Machine Learning Enginee...,"Trade Marketing Executive\nBrand Visibility, S...",NaN,NaN,NaN,NaN,,NaN,None,", Birla Institute of Technology (BIT), Ranchi,...",NaN
3,NaN,"[commercial auto underwriting, mortgage loan, ...",[None],[None],"['Accountant', 'Accounts Receivable Clerk', 'M...",Apparel Sourcing\nQuality Garment Sourcing\nRe...,NaN,NaN,NaN,NaN,,NaN,None,to obtain a position in a fastpaced business o...,NaN
4,NaN,"[administrative, audit procedures, general led...",['3.84'],[None],"['Staff Accountant', 'Senior Accountant', 'Tax...",iOS Lifecycle\nRequirement Analysis\nNative Fr...,"['Professional Organization', 'Honor Society',...","['Ohio Society of CPAs', 'Beta Alpha Psi', 'Go...","[None, None, None, None]","[None, None, None, None]",,['Ohio Notary Public'],None,professional accountant with an outstanding wo...,NaN

## on work history column form --> positions , role_positions, responsibilities

In [438]:
resume_data.positions.value_counts()

positions
['Intern']                                                                                                                                                                                                                                                                             392
['Intern Trainee']                                                                                                                                                                                                                                                                     140
['Data Analyst']                                                                                                                                                                                                                                                                       112
['Software Engineering Manager', 'Software Engineering Manager', 'Principal Software Engineer', 'Software Engineer']                                                                                                                                                                   112
['SDE']                                                                                                                                                                                                                                                                                 84
                                                                                                                                                                                                                                                                                      ...
['Business Development Manager', 'Regional Sales Manager', 'Senior Account Manager', 'Senior Account Manager', 'Senior Account Manager', 'Senior Buyer / Program Manager']                                                                                                              20
['Director of Business Development', 'Director of Business Development', 'Director of Business Development', 'Director of Sales Operations and Business Development', 'Sales Director', 'Regional Publishing Consultant', 'Senior Sales Representative', 'Owner', 'Branch Manager']     12
['ENGINEERING COORDINATOR', 'FACILITIES TEMP', 'FACILITIES ADMINISTRATOR', 'BULK TELLER']                                                                                                                                                                                               10
['Assistant Accountant', 'Bank Clerk', 'Cashier']                                                                                                                                                                                                                                        6
['Business Development Manager', 'Sponsorship & Exhibition Account Executive', 'Internal Operations Manager', 'Used Car Manager', 'Business Development Sales Manager', 'Internet Sales Manager', 'Sales Consultant']                                                                    4
Name: count, Length: 301, dtype: int64

In [439]:
resume_data.role_positions.value_counts()

role_positions
['N/A']                                                              532
[None]                                                               168
['Participant']                                                      140
['RUNNER-UP, SOLINOVATE']                                             56
[None, None]                                                          56
                                                                    ...
['Team lead of Enactus', 'Coordinator', 'Senior member']              28
['Best College Elocutioner']                                          28
['PyTorch Developer']                                                 28
['Python statistics with Pandas and Matplotlib']                      28
['Volunteer', 'Volunteer', 'Volunteer', 'Volunteer', 'Volunteer']      4
Name: count, Length: 91, dtype: int64

In [440]:
resume_data.responsibilities.value_counts()

responsibilities
Supervision\nMonitoring\nConstruction\nEstimation\nPlanning\nMaterial Management\nProject Coordination\nQuality Assurance\nCost Control\nInventory\nOperations\nSafety\nError Escalation\nMiscellaneous Tasks\n\n\n\n\n                                                                                                                                                                                                                                                                                                                                                                                                           342
Project Design\nData Analysis\nACCORD/Alliance Knowledge\nBNBC Standards\nCost Estimation\nFeasibility Studies\nDocumentation\nCompliance\nSite Monitoring\nPolicy Enforcement\nLegal Compliance\nData Management\nTeam Collaboration                                                                                                                                                                                                                                                                                                                                                                                             342
Design Review\nCoordination\nProposal Preparation\nFeasibility Analysis\nSoftware Utilization\nSupervision\nTechnical Support\nSubmission Review\nProgress Reporting\nCompliance\nSite Visits                                                                                                                                                                                                                                                                                                                                                                                                                                     342
Relationship Building\nHR Collaboration\nPolicy Development\nTraining Management\nRecord Keeping\nCompliance\nEmployee Development\nPolicy Enforcement\nCommunication\nTask Execution                                                                                                                                                                                                                                                                                                                                                                                                                                             342
Digital Marketing Strategy\nBrand Awareness, Online Traffic\nSocial Media Management\nGoogle Analytics\nCross-functional Teams\nCampaign Execution, SEO                                                                                                                                                                                                                                                                                                                                                                                                                                                                           341
Recruitment Coordination\nAppointment Management\nSelection Criteria\nEmployee Orientation\nPerformance Evaluation\nHR Database Management\nReport Compilation\nDocumentation\nEvent Coordination\nTask Execution                                                                                                                                                                                                                                                                                                                                                                                                                 341
15+ Years Banking Experience\nAudit/Inspection/ICC Leadership\nInternal Audit & Compliance\nRisk-Based Operational Reviews\nSystem-Based Audit Expertise\nKnowledge of Bangladeshi Laws                                                                                                                                                                                                                                                                                                                                                                                                                                           341
Management Trainee\nMechanical Systems\nMaintenance & Troubleshooting\nPerformance Analysis\nProject Support\nProcess Improvement\nTraining & Development\nAdministrative Support                                                                                                                                                                                                                                                                                                                                                                                                                                                 341
Internal Audit Assistance\nVoucher & Bill Verification\nCost Sheet Analysis\nL/C Voucher Verification\nExpense Verification\nSalary & Wages Verification\nMarket Rate Verification                                                                                                                                                                                                                                                                                                                                                                                                                                                341
Mushak Forms Maintenance\nVAT Software & MS Office Maintenance\nVAT Ledger Management\nVAT Challan Coordination\nLiaison with VAT Office\nVAT Documentation\nOther Assigned Tasks                                                                                                                                                                                                                                                                                                                                                                                                                                                 341
Mikrotik Router Configuration\nOLT Device Setup & Management\nIntegration with Billing Software\nNetwork Monitoring Tools Integration\nConnectivity Troubleshooting\nTechnical Support & Escalation\nInstallation & Configuration\nGPON/EPON Expertise\nCisco, OLT, MikroTik Knowledge                                                                                                                                                                                                                                                                                                                                            341
Technical Support\nTroubleshooting\nCollaboration\nDocumentation\nSystem Monitoring\nSoftware Deployment\nTraining & Mentorship\nIndustry Trends\nField Visits\n\n\n\n\n                                                                                                                                                                                                                                                                                                                                                                                                                                                          341
Hardware & Network Installation\nTroubleshooting & Diagnostics\nUser Training & Capacity Building\nHardware Replacement\nFault Repair & System Setup\nSoftware License & Account Management\nBackup Management\nSystem Updates & Maintenance\nServer & Storage Management\nDocumentation & Technical Specifications\nData Protection & Disaster Recovery\nStorage & Database Planning\nPower & Disk Backup\nIncident Management & Escalation\nService Restoration\nUser Communication & Verification\nIncident Classification & Resolution\nMajor Incident Escalation\nProblem & Error Management\nTask Assignment & Execution    341
Database Design & Development\nSQL Query Optimization\nData Integrity & Security\nBI Solutions Development\nETL Process Implementation\nDatabase Maintenance\nBackup & Restore Management\nIndex Rebuilding & Performance Tuning\nSQL Server Clustering & High Availability\nSQL Server Replication\nHigh Availability Group Management\nDatabase Monitoring & Troubleshooting                                                                                                                                                                                                                                                    341
Administrative Support\nScheduling\nFiling & Documentation\nCommunication\nTeam Support\nEquipment Maintenance\nInformation Provision\nInventory Management\nTeam Collaboration\nOHS Policy Development\nSafety Advice\nRisk Assessment\nPolicy Review\nOHS Training\nSafety Inspections\nUnsafe Act Prevention\nIncident Investigation\nReport Preparation                                                                                                                                                                                                                                                                       341
Design Creation\nCAD Drawings\nDesign Optimization\nTeam Collaboration\nCompliance Assurance\nDesign Reviews\nManufacturing Support\nDocumentation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                341
Machinery Maintenance\nTroubleshooting\nReport Preparation\nLog Maintenance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       341
Machine Learning Design\nData Analysis\nModel Training\nAI Integration\nInnovation\nCross-Functional Collaboration\nModel Deployment\nDocumentation\nAnalytical Skills\nCommunication\nTeam Collaboration                                                                                                                                                                                                                                                                                                                                                                                                                         341
Apparel Sourcing\nQuality Garment Sourcing\nReliable Partner\nBuyer/Vendor Communication                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          341
Trade Marketing Executive\nBrand Visibility, Sales Targets\nField Marketing, Campaigns, Product Distribution\nBrand Head\nExcel, KPIs Tracking                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    341
Hardware & Software Installation\nSystem Monitoring\nIT Support\nNetworking Expertise\nMail Server Administration\nSecurity Management\nTroubleshooting & Repair\nOperations Support                                                                                                                                                                                                                                                                                                                                                                                                                                              340
Machine Learning Leadership\nCross-Functional Collaboration\nStrategy Development\nML/NLP Infrastructure\nPrototype Transformation\nML System Design\nAlgorithm Research\nApplication Development\nDataset Selection\nML Testing\nStatistical Analysis\nR&D in ML/NLP\nText Representation\nData Pipeline Design\nStatistical Data Analysis\nModel Training\nTeam Collaboration\nResearch Reporting\nAlgorithm Analysis                                                                                                                                                                                                           340
Open-Source Technologies\nCI/CD Culture & Tooling\nProduct Availability & Scalability\nAutomation (Build & Deploy)\nMonitoring & Reliability\nInfrastructure Innovation\nSoftware Engineering Velocity\nInfrastructure Resiliency\nSecurity & Data Availability                                                                                                                                                                                                                                                                                                                                                                   340
Data Platform Design\nData Pipeline Development\nETL Processes\nSQL Query Optimization\nData Integration & Transformation\nData Modeling\nStakeholder Collaboration\nData Quality Monitoring\nContinuous Learning                                                                                                                                                                                                                                                                                                                                                                                                                 340
Full Stack Development\nFront-end: ReactJS, NextJS\nBackend: Python, Django\nAPI Design\nServer-Side Logic\nDRF (Django REST Framework)\nDatabase Management (PostgreSQL, MySQL)\nVersion Control (Git)\nAWS (ECR, RDS, ECS, ALB, EC2, etc.)\nLinux, Docker, CI/CD, GitLab\nTerraform, Shell Scripting                                                                                                                                                                                                                                                                                                                            340
iOS Lifecycle\nRequirement Analysis\nNative Frameworks\niOS Development\nAPI Integration\nTechnical Communication\nUI Design\nPerformance Optimization\nFeature Collaboration\nBug Fixing\nCode Translation\nHigh-Performance Development\nTask Management\nCross-Team Collaboration\nCode Quality                                                                                                                                                                                                                                                                                                                                340
Application Development\nObject-Oriented Design\nCollaboration\nProblem-Solving\nSoftware Lifecycle\nInnovation\nSoftware Testing\nSystem Analysis\nPerformance Monitoring\nPlugin Development\nDocumentation\nIntegration Support                                                                                                                                                                                                                                                                                                                                                                                                340
Generative AI Development\nEvolutionary Computation\nDeep Learning Optimization\nExpert Systems Design\nKnowledge Representation\nData Preprocessing\nModel Training\nResearch & Integration                                                                                                                                                                                                                                                                                                                                                                                                                                      340
Name: count, dtype: int64

In [441]:
import pandas as pd

def clean_responsibilities(text):
    if pd.isna(text):  # Handle missing values
        return "Unknown"
    text = text.strip()  # Remove leading/trailing whitespace
    text = text.replace("\n", ", ")  # Convert newlines to commas
    text = ', '.join(set(text.split(", ")))  # Remove duplicate words
    text = text.title()  # Standardize capitalization
    return text

# Apply cleaning function
resume_data["responsibilities"] = resume_data["responsibilities"].apply(clean_responsibilities)

# Display cleaned data
print(resume_data["responsibilities"].head(10))

0    Troubleshooting, System Monitoring, Technical ...
1    Algorithm Analysis, Research Reporting, Protot...
2    Product Distribution, Brand Head, Sales Target...
3    Buyer/Vendor Communication, Apparel Sourcing, ...
4    Task Management, Performance Optimization, Tec...
5    Analytical Skills, Machine Learning Design, Ai...
6    Task Management, Performance Optimization, Tec...
7    Task Management, Performance Optimization, Tec...
8    Troubleshooting, Log Maintenance, Report Prepa...
9    Buyer/Vendor Communication, Apparel Sourcing, ...
Name: responsibilities, dtype: object

In [442]:
# Function to safely convert string lists to actual lists
def safe_eval(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)  # Convert string to list
        except (ValueError, SyntaxError):
            return []
    return val if isinstance(val, list) else []

# Apply safe conversion
resume_data['role_positions'] = resume_data['role_positions'].apply(safe_eval)
resume_data['positions'] = resume_data['positions'].apply(safe_eval)

# Function to clean and merge work history
def merge_work_history(row):
    roles = [r for r in row['role_positions'] if r and r != 'N/A' and r != 'None']
    positions = [p for p in row['positions'] if p and p != 'N/A' and p != 'None']
    responsibilities = row['responsibilities'] if isinstance(row['responsibilities'], str) else ""

    work_history = []
    if roles:
        work_history.append(f"Roles: {', '.join(roles)}")
    if positions:
        work_history.append(f"Positions: {', '.join(positions)}")
    if responsibilities:
        work_history.append(f"Responsibilities: {responsibilities}")

    return ' | '.join(work_history) if work_history else 'No work history available'

# Apply cleaning and merging
resume_data['work_history'] = resume_data.apply(merge_work_history, axis=1)

resume_data.work_history.value_counts()

work_history
Positions: Intern | Responsibilities: Sql Server Clustering & High Availability, Index Rebuilding & Performance Tuning, Etl Process Implementation, High Availability Group Management, Sql Server Replication, Bi Solutions Development, Database Maintenance, Backup & Restore Management, Database Monitoring & Troubleshooting, Sql Query Optimization, Data Integrity & Security, Database Design & Development    5
Positions: Intern | Responsibilities: Stakeholder Collaboration, Data Platform Design, Continuous Learning, Data Quality Monitoring, Etl Processes, Data Integration & Transformation, Sql Query Optimization, Data Modeling, Data Pipeline Development                                                                                                                                                                 5
Positions: Intern | Responsibilities: Troubleshooting, Log Maintenance, Report Preparation, Machinery Maintenance                                                                                                                                                                                                                                                                                                       5
Positions: Intern | Responsibilities: Analytical Skills, Machine Learning Design, Ai Integration, Team Collaboration, Model Deployment, Documentation, Cross-Functional Collaboration, Innovation, Model Training, Data Analysis, Communication                                                                                                                                                                         5
Positions: Intern | Responsibilities: Compliance, Technical Support, Site Visits, Proposal Preparation, Design Review, Supervision, Software Utilization, Progress Reporting, Feasibility Analysis, Submission Review, Coordination                                                                                                                                                                                     5
                                                                                                                                                                                                                                                                                                                                                                                                                       ..
Positions: Deep Learning Engineer Intern, Summer Trainee - Cloud Administration | Responsibilities: Task Management, Performance Optimization, Technical Communication, Code Translation, Api Integration, Ios Lifecycle, Ui Design, Bug Fixing, Ios Development, Native Frameworks, Requirement Analysis, Code Quality, Cross-Team Collaboration, Feature Collaboration, High-Performance Development                  1
Roles: Member | Positions: Business Development Manager, Business Development Manager, Talent Acquisition Consultant / Account Executive | Responsibilities: Operations, Quality Assurance, Error Escalation, Cost Control, Construction, Monitoring, Miscellaneous Tasks, Supervision, Estimation, Material Management, Inventory, Project Coordination, Planning, Safety                                              1
Positions: Business Development Analyst, Business Enterprise Risk Manager, Business Client Relationship Manager, Project Manager | Responsibilities: Relationship Building, Record Keeping, Hr Collaboration, Policy Enforcement, Task Execution, Policy Development, Training Management, Compliance, Employee Development, Communication                                                                              1
Positions: Data Scientist - Analytics & Insights | Responsibilities: Troubleshooting, Log Maintenance, Report Preparation, Machinery Maintenance                                                                                                                                                                                                                                                                        1
Positions: Business Development Manager, Marketing/Outside Physician Rep, Marketing Director, Resident Liaison | Responsibilities: Compliance, Technical Support, Site Visits, Proposal Preparation, Design Review, Supervision, Software Utilization, Progress Reporting, Feasibility Analysis, Submission Review, Coordination                                                                                        1
Name: count, Length: 8900, dtype: int64

In [443]:
resume_data.head(1)

,address,skills,educational_results,result_types,positions,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,extra_curricular_organization_links,role_positions,languages,certification_providers,location,qualification,year_of_experience,work_history
0,NaN,"[Hdfs, Core Java, Hive, Talend, YARN, Microsof...",['N/A'],[None],[Big Data Analyst],"Troubleshooting, System Monitoring, Technical ...",NaN,NaN,NaN,[],,NaN,None,big data analytics working and database wareho...,5.275838,Positions: Big Data Analyst | Responsibilities...

In [444]:
resume_data.columns

Index(['address', 'skills', 'educational_results', 'result_types', 'positions',
       'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'certification_providers', 'location', 'qualification',
       'year_of_experience', 'work_history'],
      dtype='object')

In [449]:
resume_data.location.value_counts()

location
Vancouver, BC                                                       56
Sunnyvale, CA                                                       28
ELDORET                                                             28
Hoboken, NJ                                                         28
Hanover, NH                                                         28
Denver, CO                                                          28
Pittsburgh, PA                                                      28
Chicago, IL                                                         28
Boca Raton, FL                                                      28
Virginia Beach, VA                                                  28
Lawrenceville, GA                                                   28
Las Vegas, NV                                                       28
Westlake, TX                                                        28
Trenton, NJ                                                         28
DW New York, NY                                                     28
Computer Science Department University of Kentucky Lexington, KY    28
Euclid, OH                                                          28
Fargo, ND                                                           28
Greer, SC                                                           28
Cambridge, MA                                                       28
Portland, OR                                                        28
P                                                                   28
Canada                                                              28
Malvern, PA                                                         28
Name: count, dtype: int64

In [450]:
resume_data = resume_data.drop(columns=['address', 'educational_results', 'result_types', 'positions',
       'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions','certification_providers'])
resume_data.columns

Index(['skills', 'languages', 'location', 'qualification',
       'year_of_experience', 'work_history'],
      dtype='object')

In [451]:
resume_data.head(4)

,skills,languages,location,qualification,year_of_experience,work_history
0,"[Hdfs, Core Java, Hive, Talend, YARN, Microsof...",,None,big data analytics working and database wareho...,5.275838,Positions: Big Data Analyst | Responsibilities...
1,"[R, SAS, Data Visualization, Business Analytic...",,None,fresher looking to join as a data analyst and ...,5.442847,Positions: Business Analyst | Responsibilities...
2,"[HTML, Hive, PySpark, Application Support, Uni...",,None,", Birla Institute of Technology (BIT), Ranchi,...",NaN,Positions: Software Developer (Machine Learnin...
3,"[commercial auto underwriting, mortgage loan, ...",,None,to obtain a position in a fastpaced business o...,NaN,"Positions: Accountant, Accounts Receivable Cle..."

In [452]:
resume_data.shape

(9544, 6)

In [453]:
resume_data.to_csv("secondResumes.csv")

In [454]:
finalResumeSecond = pd.read_csv("secondResumes.csv")

In [455]:
finalResumeSecond.shape

(9544, 7)

In [456]:
finalResumeSecond.dropna()

Empty DataFrame
Columns: [Unnamed: 0, skills, languages, location, qualification, year_of_experience, work_history]
Index: []

In [457]:
finalResumeSecond.shape

(9544, 7)

In [476]:
finalResumeSecond.head(20)

,Unnamed: 0,skills,languages,location,qualification,year_of_experience,work_history
0,0,"['Hdfs', 'Core Java', 'Hive', 'Talend', 'YARN'...",NaN,NaN,big data analytics working and database wareho...,5.275838,Positions: Big Data Analyst | Responsibilities...
1,1,"['R', 'SAS', 'Data Visualization', 'Business A...",NaN,NaN,fresher looking to join as a data analyst and ...,5.442847,Positions: Business Analyst | Responsibilities...
2,2,"['HTML', 'Hive', 'PySpark', 'Application Suppo...",NaN,NaN,", Birla Institute of Technology (BIT), Ranchi,...",NaN,Positions: Software Developer (Machine Learnin...
3,3,"['commercial auto underwriting', 'mortgage loa...",NaN,NaN,to obtain a position in a fastpaced business o...,NaN,"Positions: Accountant, Accounts Receivable Cle..."
4,4,"['administrative', 'audit procedures', 'genera...",NaN,NaN,professional accountant with an outstanding wo...,NaN,"Positions: Staff Accountant, Senior Accountant..."
5,5,"['Network Administration', 'Cisco ASA firewall...",NaN,NaN,to secure an it specialist desktop support net...,NaN,"Positions: Engineering Systems Installer, IT T..."
6,6,"[None, 'Machine Learning', 'Linear Regression'...",NaN,NaN,", DJR College and University, B.Tech, IT",0.665298,Positions: Intern | Responsibilities: Task Man...
7,7,"['Manufacturing Process', 'First Article Inspe...",Spanish (Unknown),NaN,", POLYTECHNIC UNIVERSITY OF PUERTO RICO, Bache...",NaN,"Positions: Engineering Technician, Instrument ..."
8,8,"['Multivariate Analysis', 'Random Forest', 'Em...",NaN,NaN,certified data analyst with a degree in electr...,5.694730,Positions: Associate Analyst | Responsibilitie...
9,9,"['Machine learning', 'Natural language Process...",NaN,NaN,", Dr. Virendra Swaroop Institute of Computer S...",6.108145,Positions: Software Developer | Responsibiliti...
10,10,"['Front Office', 'Finance', 'VideoScribe Softw...",NaN,NaN,enthusiastic knowledgeable professional with e...,NaN,"Positions: Senior Manager, Instructional Desig..."
11,11,"['R', 'SAS', 'Artificial Intelligence', 'SQL',...",NaN,NaN,", NARSEE MONJEE INSTITUTE, BCA, N/A",4.859685,Positions: BUSINESS ANALYST | Responsibilities...
12,12,"[None, 'GraphQL', 'Linear Regression', 'Data A...",NaN,NaN,", Raja Kashwant Singh General College, B.A, Ec...",5.193703,Roles: Silver Medal For Economics Junior Award...
13,13,"['HTML', 'PyCharm', 'MS Office', 'OpenCV', 'CS...",NaN,NaN,energetic innovative engineering undergraduate...,NaN,"Roles: Participant, Winner, Member | Positions..."
14,14,"['Feature Development', 'HTML', 'React Native'...",NaN,"Sunnyvale, CA",soontobe computer science graduate eager to co...,3.778234,"Positions: Android Developer Intern, Android D..."
15,15,"['Machine Learning', 'Data Visualization', 'My...",NaN,NaN,", CDAC ACTS, B.Tech, Electronics and Telecommu...",4.692676,Positions: Associate Software Engineer and Ana...
16,16,"['Operating Systems', 'networking', 'Maintain ...",NaN,NaN,", University of Phoenix Texas, Business Admini...",20.610541,"Positions: Engineering Technician, Consultant,..."
17,17,"['Machine Learning', 'OCR', 'Artificial Intell...",NaN,NaN,machine learning engineer seeking assignments ...,5.193703,Roles: Scholar | Positions: Analyst Intern | R...
18,18,"['Feature Development', 'HTML', 'React Native'...",NaN,"Sunnyvale, CA",soontobe computer science graduate eager to co...,3.778234,"Positions: Android Developer Intern, Android D..."
19,19,"['Machine learning', 'XGBoost', 'Classificatio...",NaN,NaN,", Raja Birsimbal College, Ranchi, B.Tech, CSE",5.946612,Positions: Junior Machine Learning And Deep Le...

In [478]:
for i in range(20):
  print(i, " is ")
  for j in finalResumeSecond.columns:
    print(finalResumeSecond[j][i])
  print("    -----------------------------------------------------------")

0  is
0
['Hdfs', 'Core Java', 'Hive', 'Talend', 'YARN', 'Microsoft Azure', 'Java', 'Hadoop', 'Data Structures', 'Machine Learning', 'Cloud', 'Amazon Redshift', 'RDBMS', 'Python', 'Informatica', 'Data Science', 'C++', 'Spark', 'Mapreduce', 'DBMS', 'Big Data']
nan
nan
big data analytics working and database warehouse manager with robust experience in handling all kinds of data i have also used multiple cloud infrastructure services and am well acquainted with them currently in search of role that offers more of development, The Amity School of Engineering & Technology (ASET), Noida, B.Tech, Electronics
5.27583846680356
Positions: Big Data Analyst | Responsibilities: Troubleshooting, System Monitoring, Technical Support, Industry Trends, Documentation, Software Deployment, Training & Mentorship, Collaboration, Field Visits
    -----------------------------------------------------------
1  is
1
['R', 'SAS', 'Data Visualization', 'Business Analytics', 'Machine Learning', 'PowerBi', 'Data Analytics', 'Data Analysis', 'Tableau', 'Business Analysis']
nan
nan
fresher looking to join as a data analyst and junior data scientist experienced in creating meaningful data dashboards and evaluation models, Delhi University - Hansraj College, Delhi University - Hansraj College, B.Sc (Maths), M.Sc (Science) (Statistics), Statistics, Mathematics
5.4428473648186175
Positions: Business Analyst | Responsibilities: Algorithm Analysis, Research Reporting, Prototype Transformation, Strategy Development, Ml System Design, Ml Testing, Statistical Analysis, Text Representation, Statistical Data Analysis, Application Development, Data Pipeline Design, R&D In Ml/Nlp, Ml/Nlp Infrastructure, Dataset Selection, Machine Learning Leadership, Team Collaboration, Cross-Functional Collaboration, Model Training, Algorithm Research
    -----------------------------------------------------------
2  is
2
['HTML', 'Hive', 'PySpark', 'Application Support', 'Unified Payment Interface', 'CSS', 'Software Development', 'JavaScript', 'Machine Learning', 'Docker', 'Deep Learning', 'Requirement Gathering', 'Python', 'C', 'C++', 'Spark', 'Risk Assessment', 'Risk Prediction', 'Big Data']
nan
nan
, Birla Institute of Technology (BIT), Ranchi, B.Tech, Electronics/Telecommunication
nan
Positions: Software Developer (Machine Learning Engineer) | Responsibilities: Product Distribution, Brand Head, Sales Targets, Campaigns, Trade Marketing Executive, Brand Visibility, Field Marketing, Kpis Tracking, Excel
    -----------------------------------------------------------
3  is
3
['commercial auto underwriting', 'mortgage loan', 'credit checks', 'insurance', 'QuickBooks', 'Access', 'clients', 'PowerPoint', 'reconcile', 'mortgage processing', 'Outlook', 'application review', 'policies', 'cash handling', 'Accounts Receivable', 'administrative functions', 'closing', 'ledger', 'telecommunications', 'trial balance', 'document design', 'Enterprise', 'medical record review', 'Credit', 'written', 'bi', 'email', 'banking', 'accounts payables', 'Sales', 'delivery', 'G/L Accounts', 'inventory', 'commission reports', 'inventory reports', 'training', 'personal auto underwriting', 'customer communication', 'credit reports', 'Word', 'Accounts Payable', 'team performance', 'Excel', 'phone', 'sales reports', 'budget', 'problem-solving', 'data entry', 'Customer Service', 'analytical aptitude', 'accounts receivables', 'accounts receivable', 'international travel', 'customer service', 'workflow', 'Computer Applications', 'policy review', 'driving', 'credit cards']
nan
nan
to obtain a position in a fastpaced business office environment demanding a strong organizational technical and interpersonal position utilizing my skills and attributes, Martinez Adult Education, Business Training Center ï¼ City , State, Computer Applications Specialist Certificate Program, Computer Applications
nan
Positions: Accountant, Accounts Receivable Clerk, Mortgage Underwriter, Commercial Auto Underwriter, Personal Auto Underwriter, Claims Examiner | Responsibilities: Buyer/Vendor Communication, Apparel Sourcing, Reliable Partner, Quality Garment Sourcing
    -----------------------------------------------------------
4  is
4
['administrative', 'audit procedures', 'general ledger accounting', 'clients', 'internal accounting', 'audit programs', 'financial reporting', 'Effective time management', 'liability', 'collections', 'preparation of financial reports', 'Analytical reasoning', 'policies', 'documentation', 'tax', 'accounting', 'Public and private accounting', 'asset', 'audits', 'tax audits', 'closing', 'Research', 'taxes', 'customer queries', 'sales and use tax audits', 'client', 'billing', 'Preparation of financial statements', 'month-end closing', 'fixed assets', 'accounting controls', 'tax returns', 'reporting', 'sales tax', 'substantive tests', 'maintain records', 'sales', 'annual reports', 'business licenses', 'GAAP', 'Compliance testing knowledge', 'capital account', 'managing', 'accounts payable', 'financial statements', 'accounting systems', 'tests of compliance', 'financial', 'AR aging', 'AR', 'accounts receivable', 'financial reports', 'cash projections', 'year-end']
nan
nan
professional accountant with an outstanding work ethic and integrity seeking to make a valuable contribution utilizing strong analytical organizational communication and computer skills, Kent State University, Bachelor of Business Administration, Accounting
nan
Positions: Staff Accountant, Senior Accountant, Tax Analyst, Staff Accountant II, Staff Auditor II | Responsibilities: Task Management, Performance Optimization, Technical Communication, Code Translation, Api Integration, Ios Lifecycle, Ui Design, Bug Fixing, Ios Development, Native Frameworks, Requirement Analysis, Code Quality, Cross-Team Collaboration, Feature Collaboration, High-Performance Development
    -----------------------------------------------------------
5  is
5
['Network Administration', 'Cisco ASA firewall', 'Wiring/Wire Spicing: Cat3, Cat5, Cat5e, Coaxial', 'Windows & Mac OS', 'Windows Applications', 'Mac OS and IOS', 'Voice Over IP Telephone', 'Juniper Net-screen', 'Remote Desktop and Help Desk Management', 'Network routers', 'Customer Support', 'Team Leadership', 'Windows and Mac OS', 'Web Development', 'Application Development', 'Network Security', 'Technical Support', 'Programming Languages', 'Microsoft Applications', 'Linux', 'On-call tech support', 'Cloud Experience', 'Microsoft applications', 'Verbal Communication', 'LANs, WANs', 'Management', 'Inventory Management', 'VoIP, TCP/IP, IPSec, ATM, SS7, IPX, DNS, BIND, DHCP, HSRP and LAN/WAN architecture', 'Networking', 'PC hardware and software installation, configuration, and troubleshooting']
nan
nan
to secure an it specialist desktop support network administration database administrator technical support specialist or related position with a growing organization where my microsoft certification technical aptitude networking windows and mac os apple and android ios web development application development linux microsoft applications managing testing client support help desk technical support troubleshooting and leadership skills can benefit those who i work for as well as myself, Glen Oaks High School, Glen Oaks High School, Bachelor Degree, Associate Degree, Software Development, Electronics and Communications Engineering Technology
nan
Positions: Engineering Systems Installer, IT Technician/QA Tester, Installation/Service Technician | Responsibilities: Analytical Skills, Machine Learning Design, Ai Integration, Team Collaboration, Model Deployment, Documentation, Cross-Functional Collaboration, Innovation, Model Training, Data Analysis, Communication
    -----------------------------------------------------------
6  is
6
[None, 'Machine Learning', 'Linear Regression', 'Lasso Regression', 'Time Series Analysis', 'Ridge Regression', 'Tableau']
nan
nan
, DJR College and University, B.Tech, IT
0.6652977412731006
Positions: Intern | Responsibilities: Task Management, Performance Optimization, Technical Communication, Code Translation, Api Integration, Ios Lifecycle, Ui Design, Bug Fixing, Ios Development, Native Frameworks, Requirement Analysis, Code Quality, Cross-Team Collaboration, Feature Collaboration, High-Performance Development
    -----------------------------------------------------------
7  is
7
['Manufacturing Process', 'First Article Inspection', 'Entry Level', 'Troubleshooting', 'Temperature', 'Dmm', 'Self Motivated', 'Training', 'Maintenance', 'Sensors', 'Estimation', 'Electrical Engineer', 'Production Process', 'Public Relations', 'Biotechnology', 'Documentation', 'Test Engineer', 'Hydraulics', 'Sensor', 'Ieee', 'Electrical Test', 'Inspection', 'Electrical Engineering', 'Industrial Machinery', 'And Humidity', 'Pr', 'Electrical Mechanical', 'Wiring', 'Proactive', 'Esd', 'Medical Devices', 'Control System Design', 'Surface Mount', 'Installation', 'Mechanical/electrical Engineer', 'Packaging', 'Oscilloscope', 'Process Control', 'Project Estimation', 'Through-hole', 'Circuit Boards', 'Testing', 'Calibration', 'Corrective Maintenance', 'Control Systems', 'Project Manager', 'Preventive Maintenance', 'Sop', 'Pneumatics', 'Apqp', 'Assembly', 'Engineer', 'Mechanical Technician', 'Soldering', 'Schematic']
Spanish (Unknown)
nan
, POLYTECHNIC UNIVERSITY OF PUERTO RICO, Bachelor of Science, Electrical Engineering
nan
Positions: Engineering Technician, Instrument Technician, Project Manager Assistance | Responsibilities: Task Management, Performance Optimization, Technical Communication, Code Translation, Api Integration, Ios Lifecycle, Ui Design, Bug Fixing, Ios Development, Native Frameworks, Requirement Analysis, Code Quality, Cross-Team Collaboration, Feature Collaboration, High-Performance Development
    -----------------------------------------------------------
8  is
8
['Multivariate Analysis', 'Random Forest', 'Employee Satisfaction', 'Data Mining', 'Computer Vision', 'Statistical Analysis', 'Scikit-Learn', 'Data Analysis', 'Numpy', 'Machine Learning', 'HR Collaboration', 'Python', 'NLP', 'Decision Trees', 'MySQL', 'AWS', 'Predictive Modeling', 'Flask API', 'Xgboost', 'Deep Learning']
nan
nan
certified data analyst with a degree in electronics engineering i have hands on experience in analyzing  interpreting data with good numerical accuracy, Nagpur University, B.Tech/B.E., Electronics/Telecommunication
5.69472963723477
Positions: Associate Analyst | Responsibilities: Troubleshooting, Log Maintenance, Report Preparation, Machinery Maintenance
    -----------------------------------------------------------
9  is
9
['Machine learning', 'Natural language Processing', 'Debugging', 'Project Management', 'Software Developer', 'Data Analysis', 'executing solution', 'RestAPI', 'Docker', 'Artificial Intelligence', 'Python', 'Developing', 'crons', 'PostgreSQL', 'Relational databases', 'optimizing automation script', 'Django', 'designing', 'Software development', 'Github', 'managing database conflicts', 'Jira', 'Tornado']
nan
nan
, Dr. Virendra Swaroop Institute of Computer Studies, Kanpur, Pranveer Singh Institute of Technology, Kanpur, BCA, MCA, Computers
6.108145106091718
Positions: Software Developer | Responsibilities: Buyer/Vendor Communication, Apparel Sourcing, Reliable Partner, Quality Garment Sourcing
    -----------------------------------------------------------
10  is
10
['Front Office', 'Finance', 'VideoScribe Software', 'Project Management', 'program management', 'training programs', 'financial reporting', 'view', 'hiring', 'Program Management', 'Development', 'Eclipse', 'accounting', 'contracts', 'Accounting', 'Online Course Instruction', 'Instructional Design', 'billing', 'Leadership training', 'Client Relations', 'Microsoft Office Suite', 'project plans', 'Teaching', 'Change Management', 'delivery', 'Training Facilitation', 'PeopleSoft', 'payables', 'personnel', 'instructor', 'training materials', 'training design and development', 'PeopleSoft HRMS', 'Database Management', 'managing', 'PeopleSoft Finance Applications', 'client relations', 'financial statements', 'logistics', 'training material', 'needs analysis', 'upgrade', 'Training Management', 'Database']
nan
nan
enthusiastic knowledgeable professional with experience and proven success in program and project management online and instructor led design development and facilitation outstanding problemsolving skills as proven through implementation of accounting software packages significantly improving billing and reporting processes excellent management skills encouraging career growth of subordinates through additional training and opportunities keep uptodate with industry changes through professional affiliation, CALIFORNIA STATE UNIVERSITY, HAYWARD, UNIVERSITY OF MARYLAND, COLLEGE PARK, COLLEGE OF ARTS, SCIENCE, AND TECHNOLOGY, Master of Science, Bachelor of Science, Bachelor of Science, Education with an option in Online Teaching and Learning, Accounting, Business Administration
nan
Positions: Senior Manager, Instructional Designer/Training Manager/Database Manager/Senior Accountant, Online Course Instructor | Responsibilities: Design Reviews, Design Optimization, Team Collaboration, Design Creation, Manufacturing Support, Cad Drawings, Compliance Assurance, Documentation
    -----------------------------------------------------------
11  is
11
['R', 'SAS', 'Artificial Intelligence', 'SQL', 'Power BI', 'large scale data handling', 'Neural Networks', 'Python', 'Tableau', 'predictive data analysis', 'Deep Learning']
nan
nan
, NARSEE MONJEE INSTITUTE, BCA, N/A
4.85968514715948
Positions: BUSINESS ANALYST | Responsibilities: Information Provision, Safety Advice, Incident Investigation, Policy Review, Team Collaboration, Ohs Training, Safety Inspections, Inventory Management, Unsafe Act Prevention, Report Preparation, Team Support, Administrative Support, Ohs Policy Development, Risk Assessment, Equipment Maintenance, Filing & Documentation, Scheduling, Communication
    -----------------------------------------------------------
12  is
12
[None, 'GraphQL', 'Linear Regression', 'Data Analytics', 'Logistic Regression', 'Python', 'Business Intelligence', 'Business Analysis']
nan
nan
, Raja Kashwant Singh General College, B.A, Economics
5.193702943189596
Roles: Silver Medal For Economics Junior Award, Finalist at business solution PAN India, Winner and Runner-Up for 2018 and 2019 respectively | Positions: Associate Consultant, Junior Analyst Intern | Responsibilities: Algorithm Analysis, Research Reporting, Prototype Transformation, Strategy Development, Ml System Design, Ml Testing, Statistical Analysis, Text Representation, Statistical Data Analysis, Application Development, Data Pipeline Design, R&D In Ml/Nlp, Ml/Nlp Infrastructure, Dataset Selection, Machine Learning Leadership, Team Collaboration, Cross-Functional Collaboration, Model Training, Algorithm Research
    -----------------------------------------------------------
13  is
13
['HTML', 'PyCharm', 'MS Office', 'OpenCV', 'CSS', 'Google Colab', 'OCR', 'Pytesseract', 'MATLAB', 'LDA Topic Modeling', 'JAVA', 'Scikit-Learn', 'Data Structures', 'JavaScript', 'Web Scraping', 'TensorFlow', 'SQL', 'Jupyter Notebook', 'Code Blocks', 'Python', 'NLP', 'NER Text Classification', 'C', 'Keras', 'Turbo C++', 'bs4', 'NumPy', 'C++']
nan
nan
energetic innovative engineering undergraduate passionate about machine learning nlp and deep learning for solving realworld problems aiming to work in an organization providing great learning experience and growth opportunities for mutual benefit, Dayalbagh Educational Institute, Dayalbagh, Agra, St. Clare's Senior Secondary School, Agra, St. Clare's Senior Secondary School, Agra, B.Tech. (Electrical Engineering Specialization in Computer Science), XII, X, N/A, Electrical Engineering Specialized in Computer Science
nan
Roles: Participant, Winner, Member | Positions: Intern, Intern | Responsibilities: Design Reviews, Design Optimization, Team Collaboration, Design Creation, Manufacturing Support, Cad Drawings, Compliance Assurance, Documentation
    -----------------------------------------------------------
14  is
14
['Feature Development', 'HTML', 'React Native', 'REST APIs', 'CSS', 'Javascript', 'Java', 'Kotlin', 'Performance Improvement', 'Bug Fixing', 'Data Integrity', 'Android Development', 'Performance Monitoring', 'PostgreSQL', 'Spring', 'MySQL', 'Quality Assurance', 'Team Collaboration', 'Problem Solving', 'Cross-Functional Collaboration']
nan
Sunnyvale, CA
soontobe computer science graduate eager to continue exploring the inspiring innovative field of android development as a seasoned intern i am looking to join an android development team with att as a junior developer, University of Santa Clara, Bachelor of Science, Computer Science
3.7782340862423
Positions: Android Developer Intern, Android Developer Intern | Responsibilities: Troubleshooting, Log Maintenance, Report Preparation, Machinery Maintenance
    -----------------------------------------------------------
15  is
15
['Machine Learning', 'Data Visualization', 'MySQL', 'Artificial Intelligence', 'Plotly', 'Seaborn', 'Method Development', 'Data Validation', 'Data Modeling', 'Python', 'MongoDB', 'Matplotlib', 'Deep Learning']
nan
nan
, CDAC ACTS, B.Tech, Electronics and Telecommunication
4.692676249144422
Positions: Associate Software Engineer and Analyst | Responsibilities: Sql Server Clustering & High Availability, Index Rebuilding & Performance Tuning, Etl Process Implementation, High Availability Group Management, Sql Server Replication, Bi Solutions Development, Database Maintenance, Backup & Restore Management, Database Monitoring & Troubleshooting, Sql Query Optimization, Data Integrity & Security, Database Design & Development
    -----------------------------------------------------------
16  is
16
['Operating Systems', 'networking', 'Maintain documentation', 'database', 'PowerPoint', 'meetings', 'Outlook', 'quality', 'documentation', 'network systems', 'shipping', 'network', 'hardware', 'spreadsheets', 'routers', 'supervision', 'safety', 'presentations', 'personnel', 'inspection', 'scheduling', 'Oracle', 'Microsoft Office', 'Dec', 'budget', 'logistics', 'MS Excel', 'production', 'progress']
nan
nan
, University of Phoenix Texas, Business Administration
20.61054072553046
Positions: Engineering Technician, Consultant, Engineering Technician, Manufacturing Lead | Responsibilities: Power & Disk Backup, Hardware Replacement, Troubleshooting & Diagnostics, System Updates & Maintenance, Service Restoration, Hardware & Network Installation, Documentation & Technical Specifications, Data Protection & Disaster Recovery, Storage & Database Planning, User Communication & Verification, Backup Management, Incident Management & Escalation, Fault Repair & System Setup, User Training & Capacity Building, Major Incident Escalation, Task Assignment & Execution, Problem & Error Management, Server & Storage Management, Incident Classification & Resolution, Software License & Account Management
    -----------------------------------------------------------
17  is
17
['Machine Learning', 'OCR', 'Artificial Intelligence', 'Reinforcement Learning', 'Matplotlib', 'Tensorflow Keras', 'Pandas', 'Scikit learn', 'Numpy', 'Deep Learning']
nan
nan
machine learning engineer seeking assignments deep learning reinforcement learning tensorflow keras, IIIT D&M Kancheepuram, Chennai, B.Tech(IT), Information Technology
5.193702943189596
Roles: Scholar | Positions: Analyst Intern | Responsibilities: Product Distribution, Brand Head, Sales Targets, Campaigns, Trade Marketing Executive, Brand Visibility, Field Marketing, Kpis Tracking, Excel
    -----------------------------------------------------------
18  is
18

In [480]:
finalResumeSecond.languages.isna().sum()

8844

In [481]:
finalResumeSecond.location.isna().sum()

8844

In [482]:
Final_Resume_without_languageColumn_locationColumn = finalResumeSecond
Final_Resume_without_Null_ofLanguage_and_location = finalResumeSecond

In [483]:
Final_Resume_without_languageColumn_locationColumn = Final_Resume_without_languageColumn_locationColumn.drop(columns=["languages", "location"])
Final_Resume_without_languageColumn_locationColumn.dropna()
Final_Resume_without_languageColumn_locationColumn.head(), Final_Resume_without_languageColumn_locationColumn.shape

(   Unnamed: 0                                             skills  \
 0           0  ['Hdfs', 'Core Java', 'Hive', 'Talend', 'YARN'...
 1           1  ['R', 'SAS', 'Data Visualization', 'Business A...
 2           2  ['HTML', 'Hive', 'PySpark', 'Application Suppo...
 3           3  ['commercial auto underwriting', 'mortgage loa...
 4           4  ['administrative', 'audit procedures', 'genera...

                                        qualification  year_of_experience  \
 0  big data analytics working and database wareho...            5.275838
 1  fresher looking to join as a data analyst and ...            5.442847
 2  , Birla Institute of Technology (BIT), Ranchi,...                 NaN
 3  to obtain a position in a fastpaced business o...                 NaN
 4  professional accountant with an outstanding wo...                 NaN

                                         work_history
 0  Positions: Big Data Analyst | Responsibilities...
 1  Positions: Business Analyst | Responsibilities...
 2  Positions: Software Developer (Machine Learnin...
 3  Positions: Accountant, Accounts Receivable Cle...
 4  Positions: Staff Accountant, Senior Accountant...  ,
 (9544, 5))

In [484]:
Final_Resume_without_languageColumn_locationColumn.to_csv("ResumswithoutLanguage&Location.csv")

In [485]:
Final_Resume_without_Null_ofLanguage_and_location = Final_Resume_without_Null_ofLanguage_and_location.dropna()
Final_Resume_without_Null_ofLanguage_and_location.shape , Final_Resume_without_Null_ofLanguage_and_location.head(10)

((0, 7),
 Empty DataFrame
 Columns: [Unnamed: 0, skills, languages, location, qualification, year_of_experience, work_history]
 Index: [])